:root {
  // primaries
  --clr-primary-accent: #29b6f6;
  --clr-primary-black: #212121;
  --clr-primary-gray: #757575;
  --clr-primary-white: #fafafa;

  // secondaries
  --clr-secondary-accent: #039be5;
  --clr-secondary-black: #313131;
  --clr-secondary-gray: #9e9e9e;
  --clr-secondary-white: #fff;

  // general
  --clr-background: var(--clr-primary-white);
  --clr-background-code: rgba(27, 31, 35, .05);
  --clr-footer-shadow: rgba(0, 0, 0, .5);
  --clr-header-shadow: var(--clr-footer-shadow);
  --clr-nav-hover: #808080;
  --clr-shadow: rgba(0, 0, 0, .25);

  // brands
  --clr-codepen: #000;
  --clr-github: #181717;
  --clr-linkedin: #0077b5;
  --clr-stackoverflow: #FE7A16;
  --clr-mail: #d14836;

  // gradients
  --aqua-spray-start: #00d2ff;
  --aqua-spray-end: #3a47d5;
  --mystic-mauvea-start: #63e2ff;
  --mystic-mauvea-end: #5752f2;
  --sweat-dream-start: #a3a1ff;
  --sweat-dream-end: #3a3897;
}
