:root {
  --clippath-slope: 3vw;
  --clippath-slope-deg: rotateZ(1.8deg);
  --shadow-size: 1.5vw;
  --shadow-offset: 1.5vw;

  --margin-article-about: 0 .3em 0 0;
  --margin-article-date: -.6em 0 1.4em 0;
  --margin-article-figure: 1em 0;
  --margin-article-img: .5em 0;
  --width-article-img: 100%;

  --margin-cardboard: 0;
  --margin-cardboard-item: .4em 0;
  --margin-cardboard-item-more: .7em 1em;
  --margin-cardboard-item-title: .4em 0;
  --margin-cardboard-title-category: .3em 0;
  --padding-cardboard: 0;
  --padding-cardboard-item: .7em 1em;
  --padding-cardboard-item-description: 0 3em 0 0;
  --padding-cardboard-item-links: 0 0 0 .1em;
  --width-cardboard: 100%;
  --width-cardboard-item: 100%;

  --clippath-footer: polygon(0 0, 100% var(--clippath-slope), 100% 100%, 0 100%);
  --margin-footer: 1em 0 0 0;
  --margin-footer-glyph: 0 .1em;
  --margin-footer-message:  .5em 0;
  --margin-footer-social: .5em 0;
  --padding-footer: 3em 1.6em;
  --width-footer: 100%;

  --clippath-header: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - var(--clippath-slope)));
  --height-header: 50%;
  --height-header-home: 86.5%;
  --margin-header: 0 0 -1em 0;
  --margin-header-link-item: 0 .3em;
  --margin-header-message: auto 0 0 0;
  --margin-header-message-home: auto 0 .8em 0;
  --margin-header-title: 0;
  --minheight-header: 375px;
  --padding-header: 10vh 5rem;
  --padding-header-message: 0;
  --width-header: 100%;

  --margin-links: 0;
  --margin-links-item: 0;
  --padding-links: 0;
  --padding-links-item: 0;

  --margin-list: 0 0 0 3.2em;
  --margin-list-horizontal: 0 0 0 .2em;
  --margin-list-item: 0 0 .3em 0;
  --margin-list-item-link: 0;
  --margin-list-item-link-after: 0 .3em;
  --margin-list-title: 0 auto 0 0;
  --margin-list-title_hover: 0 auto 0 .4em;
  --margin-list-category: -3em;
  --padding-list: 0;
  --padding-list-item: 0;
  --padding-list-item-link: 0;

  --margin-section: 2em;
  --maxwidth-section: none;
  --padding-section: 0;

  --margin-text-header: 1em 0 .3em 0;
  --margin-text-subheader: 1.2em 0 .3em 0;
  --margin-text-text: 0 0 1em 0;
  --margin-listitem: 0 0 .1em 0;

  --margin-tags-hashtag: 0 6px 0 0;
  --margin-tags-tag: 4px 4px;
  --padding-tags-hashtag: 0 6px;
  --padding-tags-tag: 0 8px 0 0;
  --padding-timeline-event-content: 0 16px;
  --margin-timeline-event-details: 0;
  --padding-timeline-event-details: 0;
  --margin-timeline-event-title: 0;
  --padding-timeline-event-title: 0;
}


@media only screen and (min-width: 961px) and (orientation: landscape) {
  :root {
    --margin-article-about: .6em;
    --margin-article-img: .4em auto;
    --margin-article-figure: 1em 2.8em;
    --width-article-img: auto;

    --bottom-backtotop: -48px;
    --bottom-backtotop_hidden: -164px;
    --right-backtotop: 64px;

    --margin-cardboard: 0 0 1.4em -.4em;
    --margin-cardboard-item: .4em;
    --margin-cardboard-item-description: 0;
    --margin-cardboard-item-more: 0;
    --margin-cardboard-item-title: .1em 0 .3em 0;
    --margin-cardboard-title-category: .8em 0 0 -4em;
    --padding-cardboard-item: .8em 1.2em 1em;
    --padding-cardboard-item-description: 0;
    --padding-cardboard-item-links: 0 0 0 .3em;
    --width-cardboard: calc(100% + .4em);
    --width-cardboard-item: calc(50% - (2 * var(--margin-cardboard-item)));

    --margin-footer: 2em 0 0 0;
    --margin-footer-glyph: 0;
    --margin-footer-message:  -22px 0 .5em 0;
    --padding-footer: 6.5em 4em 2.5em 4em;

    --margin-header: 0;
    --margin-header-link-item: 0 .4em;
    --margin-header-message-home: auto 0 2em 0;
    --maxwidth-header-message: 450px;
    --padding-header: 5em 6em;
    --padding-header-link-item: 0;

    --margin-list: 0;
    --margin-list-item: 0 2.6em 0 0;
    --margin-list-item-link-after: 0 0 0 .3em;
    --margin-list-category: -3.4em;

    --height-navbar: 100%;
    --height-navbar-item: 48px;
    --width-navbar: var(--height-navbar-item);
    --width-navbar-item: var(--height-navbar-item);

    --margin-section: 2em auto;
    --maxwidth-section: 800px;
    --padding-section: 0 124px;
  }
}
