:root {
  /* primaries */
  --clr-primary-accent: #29b6f6;
  --clr-primary-black: #000000;
  --clr-primary-gray: #757575;
  --clr-primary-white: #ffffff;

  /* secondaries */
  --clr-secondary-accent: #039be5;

  /* miscellaneous */
  --clr-badge: #ff9800;
  --clr-code-background: rgba(27, 31, 35, .05);
  --clr-shadow: rgba(0, 0, 0, .25);
}
