.cardboard {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: var(--margin-cardboard);
  padding: var(--padding-cardboard);
  width: var(--width-cardboard);
}

.cardboard__item {
  background-color: var(--clr-secondary-white);
  box-shadow: 0 0 2px 0 var(--clr-shadow);
  box-sizing: border-box;
  margin: var(--margin-cardboard-item);
  padding: var(--padding-cardboard-item);
  position: relative;
  transition: box-shadow .3s ease;
  width: var(--width-cardboard-item);

  &:focus-within,
  &:hover {
    box-shadow: 0 0 8px 0 var(--clr-shadow);
  }
}

.cardboard__item__description {
  padding: var(--padding-cardboard-item-description);
}

.cardboard__item__link {
  display: inline-block;
  font-size: var(--fontsize-cardboard-glyph);
  margin: 0;
  padding: 0;
}

.cardboard__item__links {
  float: right;
  font-size: 0;
  list-style: none;
  padding: var(--padding-cardboard-item-links);
}

.cardboard__item__more {
  @extend %text-bold;

  bottom: 0;
  margin: var(--margin-cardboard-item-more);
  position: absolute;
  right: 0;
  text-decoration: none;
  transition: color .1s ease, right .15s ease;

  &::after {
    color: var(--clr-secondary-black);
    content: '\00A0\2192';
    display: block;
    left: 100%;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: left .15s ease, opacity .1s ease;
  }

  &:focus,
  &:hover {
    color: var(--clr-primary-accent);
    right: 1.4em;

    &::after {
      left: 100%;
      opacity: 1;
      pointer-events: all;
    }
  }
}

.cardboard__item__title {
  @extend %h5;

  margin: var(--margin-cardboard-item-title);
}
