.cardboard {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: var(--margin-cardboard);
  padding: var(--padding-cardboard);
  position: relative;
  width: var(--width-cardboard);
}

.cardboard__item {
  align-items: stretch;
  background-color: var(--clr-secondary-white);
  box-shadow: 0 0 2px 0 var(--clr-shadow);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: var(--margin-cardboard-item);
  padding: var(--padding-cardboard-item);
  transition: box-shadow .3s ease;
  width: var(--width-cardboard-item);

  &:focus-within,
  &:hover {
    box-shadow: 0 0 8px 0 var(--clr-shadow);
  }
}

.cardboard__item__description {
  flex-grow: 2;
  margin: var(--margin-cardboard-item-description);
  padding: var(--padding-cardboard-item-description);
}

.cardboard__item__link {
  display: inline-block;
  font-size: var(--fontsize-cardboard-glyph);
  margin: 0;
  padding: 0;
}

.cardboard__item__links {
  float: right;
  font-size: 0;
  list-style: none;
  padding: var(--padding-cardboard-item-links);
}

.cardboard__item__more {
  @extend %text-bold;

  align-self: flex-end;
  flex-grow: 1;
  margin: var(--margin-cardboard-item-more);
  position: relative;
  text-decoration: none;
  transition: color .1s ease, margin .15s ease;

  &::after {
    color: var(--clr-secondary-black);
    content: '\00A0\2192';
    display: block;
    left: 100%;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: left .15s ease, opacity .1s ease;
  }

  &:focus,
  &:hover {
    color: var(--clr-primary-accent);
  }

  &:hover {
    margin-right: 1.4em;

    &::after {
      left: 100%;
      opacity: 1;
      pointer-events: all;
    }
  }
}

.cardboard__item__title {
  @extend %h5;

  flex-grow: 1;
  margin: var(--margin-cardboard-item-title);
}

.cardboard__title {
  display: block;

  &--category {
    @extend %text-secondary;

    cursor: default;
    margin: var(--margin-cardboard-title-category);
    pointer-events: none;
  }
}

@media only screen and (min-width: 961px) and (orientation: landscape) {
  .cardboard__title {
    &--category {
      position: absolute;
    }
  }
}
