@import 'mixins/util';
@import 'variables/layers';


.footer {
  @include unselectable();

  align-items: center;
  background-attachment: fixed;
  background-blend-mode: overlay;
  background-image: url('/assets/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  clip-path: var(--clippath-footer);
  color: var(--clr-primary-white);
  display: flex;
  flex-direction: column;
  font-size: var(--fontsize-root);
  justify-content: center;
  margin: var(--margin-footer);
  overflow: hidden;
  padding: var(--padding-footer);
  position: relative;
  text-align: center;
  width: var(--width-footer);
  z-index: map-get($layers, roof);
}

.footer__message {
  font-size: var(--fontsize-footer-message);
  margin: var(--margin-footer-mssage);
  order: 2;
  position: relative;
}

.footer__social {
  list-style: none;
  margin: var(--margin-footer-social);
  order: 1;
  padding: 0;

  &:hover {
    .icon {
      opacity: .6;
    }
  }
}

.footer__social__link {
  color: var(--clr-primary-white);
  cursor: pointer;
  display: inline-block;
  font-size: var(--fontsize-footer-glyph);
  margin: var(--margin-footer-glyph);

  &:focus,
  &:focus-within {
    color: var(--clr-primary-accent);
  }

  &:hover {
    & > .icon {
      color: var(--clr-secondary-white);
      opacity: 1;
    }
  }

  & > .icon {
    transition: opacity .2s ease;
  }
}


@media only screen and (min-width: 961px) and (orientation: landscape) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    text-align: inherit;
  }

  .footer__message {
    display: inline-block;
    order: 1;
  }

  .footer__social {
    display: inline-block;
    order: 2;
  }
}
