.timeline {
  display: none;
}

@media only screen and (min-width: 961px) and (orientation: landscape) {
  .timeline {
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-image: url('/assets/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    clip-path: polygon(0 0, 100% 3vw, 100% 100%, 0 calc(100% - 3vw));
    display: flex;
    flex-direction: row-reverse;
    height: 500px;
    justify-content: center;
    list-style-type: none;
    margin: 80px 0 0;
    padding: 0 10% 0 15%;
    position: relative;
    z-index: map-get($layers, roof);

    &:hover {
      $inactive-opacity: .7;
      $gradient-middle: rgba(255, 255, 255, 1);
      $gradient-ends: rgba(255, 255, 255, $inactive-opacity - .1);

      .timeline__event {
        & > :hover {
          .top-part {
            &::before {
              background: radial-gradient(ellipse at center, $gradient-middle 0%, $gradient-ends 100%);
            }
          }
        }

        & > :not(:hover) {
          opacity: $inactive-opacity;
        }
      }
    }
  }

  .timeline__event {
    @include unselectable();

    color: var(--clr-primary-white);
    cursor: pointer;
    display: flex;
    flex-basis: 0;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    margin: 0;
    text-decoration: none;
    transition: opacity .2s ease;

    &:first-child {
      .top-part {
        &::before {
          width: 50%;
        }
      }
    }

    &:last-child {
      .top-part {
        &::before {
          left: auto;
          right: 0;
          width: 500%;
        }
      }
    }

    &:hover {
      .top-part {
        &::after {
          background-color: var(--clr-primary-accent);
        }
      }
    }
  }

  .top-part {
    $ball-size: 26px;
    $space-between: 24px;

    box-sizing: border-box;
    display: flex;
    flex-basis: 0;
    flex-direction: column-reverse;
    flex-grow: 1;
    flex-shrink: 0;
    font-weight: bold;
    margin: 0 0 $space-between;
    padding: 0 4px $space-between;
    position: relative;
    text-align: center;
    width: 100%;

    &::after {
      background-color: var(--clr-primary-white);
      border-radius: $ball-size;
      bottom: calc(-1 * (#{$ball-size / 2}));
      content: '';
      height: 26px;
      left: calc(50% - (#{$ball-size / 2}));
      position: absolute;
      width: $ball-size;
    }

    &::before {
      background-color: var(--clr-primary-white);
      bottom: 0;
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }

  .bottom-part {
    box-sizing: border-box;
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 0 4px;
    width: 100%;
  }

  .timeline__event__institute {
    display: block;
    font-weight: bold;
    text-align: center;
  }

  .timeline__event__time {
    display: block;
    font-style: italic;
    text-align: center;
  }
}
