@mixin first-divider() {
  left: auto;
  right: 0;
  width: 500%;
}
@mixin normal-divider() {
  left: 0;
  right: auto;
  width: 100%;
}


.timeline {
  display: none;
}

@media only screen and (min-width: 961px) and (orientation: landscape) {
  .timeline {
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
    height: var(--height-timeline);
    justify-content: center;
    list-style-type: none;
    margin: var(--margin-timeline);
    padding: var(--padding-timeline);
    position: relative;
    z-index: map-get($layers, roof);

    &::before,
    &::after {
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: map-get($layers, dungeon);
    }

    &::before {
      box-shadow: 0 0 calc(2 * var(--shadow-size)) 0 var(--clr-header-shadow);
      height: calc(100% - (2 * var(--clippath-slope)));
      top: var(--clippath-slope);
      transform: var(--clippath-slope-deg);
      width: 101%;
    }

    &::after {
      background-attachment: fixed;
      background-blend-mode: overlay;
      background-image: var(--background-image);
      background-position: center;
      background-repeat: repeat;
      background-size: cover;
      clip-path: polygon(0 0, 100% var(--clippath-slope), 100% 100%, 0 calc(100% - var(--clippath-slope)));
      top: 0;
    }

    &:hover {
      $inactive-opacity: .7;
      $gradient-middle: rgba(255, 255, 255, 1);
      $gradient-ends: rgba(255, 255, 255, $inactive-opacity - .1);

      .timeline__event {
        & > :hover {
          .top-part {
            &::before {
              background: radial-gradient(ellipse at center, $gradient-middle 0%, $gradient-ends 100%);
            }
          }
        }

        & > :not(:hover) {
          opacity: $inactive-opacity;
        }
      }
    }
  }

  .timeline__event {
    @include unselectable();

    color: var(--clr-primary-white);
    cursor: pointer;
    display: flex;
    flex-basis: 0;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    margin: var(--margin-timeline-event);
    padding: var(--padding-timeline-event);
    text-decoration: none;
    transition: opacity .2s ease;

    &:first-child {
      .top-part {
        &::before {
          width: 50%;
        }
      }
    }

    &:nth-last-child(1),
    &:nth-last-child(2) {
      display: none;
    }

    &:nth-last-child(3) {
      .top-part {
        &::before {
          @include first-divider();
        }
      }
    }

    &:hover {
      .top-part {
        &::after {
          background-color: var(--clr-primary-accent);
        }
      }
    }

    &--achievement {
      & .top-part {
        &::after {
          content: url('/assets/icons/achievement.svg');
        }
      }
    }

    &--education {
      & .top-part {
        &::after {
          content: url('/assets/icons/education.svg');
        }
      }
    }

    &--internship {
      & .top-part {
        &::after {
          content: url('/assets/icons/internship.svg');
        }
      }
    }

    &--volunteer {
      & .top-part {
        &::after {
          content: url('/assets/icons/volunteer.svg');
        }
      }
    }

    &--work {
      & .top-part {
        &::after {
          content: url('/assets/icons/work.svg');
        }
      }
    }
  }

  .top-part {
    box-sizing: border-box;
    display: flex;
    flex-basis: 0;
    flex-direction: column-reverse;
    flex-grow: 1;
    flex-shrink: 0;
    font-weight: bold;
    margin: 0 0 calc(var(--margin-timeline-event-divider) + (var(--diameter-timeline-event-ball) / 2));
    padding: var(--padding-timeline-event-content);
    padding-bottom: calc(var(--margin-timeline-event-divider) + (var(--diameter-timeline-event-ball) / 2));
    position: relative;
    text-align: center;
    width: 100%;

    &::after {
      background-color: var(--clr-primary-white);
      border-radius: var(--diameter-timeline-event-ball);
      bottom: calc(-1 * (#{var(--diameter-timeline-event-ball) / 2}));
      box-sizing: border-box;
      content: '';
      height: var(--diameter-timeline-event-ball);
      left: calc(50% - (#{var(--diameter-timeline-event-ball) / 2}));
      padding: 4px;
      position: absolute;
      width: var(--diameter-timeline-event-ball);
    }

    &::before {
      @include normal-divider();

      background-color: var(--clr-primary-white);
      bottom: 0;
      content: '';
      height: 1px;
      position: absolute;
    }
  }

  .bottom-part {
    box-sizing: border-box;
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
    padding: var(--padding-timeline-event-content);
    width: 100%;
  }

  .timeline__event__institute {
    display: block;
    text-align: center;
  }

  .timeline__event__time {
    display: block;
    font-style: italic;
    text-align: center;
  }
}

@media only screen and (min-width: 1200px) and (orientation: landscape) {
  .timeline__event {
    &:nth-last-child(2) {
      display: flex;

      .top-part {
        &::before {
          @include first-divider();
        }
      }
    }

    &:nth-last-child(3) {
      .top-part {
        &::before {
          @include normal-divider();
        }
      }
    }
  }
}

@media only screen and (min-width: 1500px) and (orientation: landscape) {
  .timeline__event {
    &:nth-last-child(1) {
      display: flex;

      .top-part {
        &::before {
          @include first-divider();
        }
      }
    }

    &:nth-last-child(2) {
      .top-part {
        &::before {
          @include normal-divider();
        }
      }
    }
  }
}
