// Class base for elements that change the background of a container
.background-hover {
  &::before {
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none; // Prevents hover action on the (invisible) psuedo element
    position: absolute;
    top: 0;
    transition: opacity .2s ease;
    width: 100%;
    z-index: map-get($layers, basement);
  }

  &:hover {
    &::before {
      opacity: 1;
    }
  }
}

// Should be used in addition to the fontello "icon-" classes
.icon {
  display: block;
  text-decoration: none;

  &--hover {
    &:focus {
      color: var(--clr-secondary-accent);
    }

    &:hover {
      color: var(--clr-secondary-accent);
    }
  }
}

// Inherit all styles from the parent
.mimic-parent {
  all: inherit;
}

// Adds decoration to a title
.short-underline {
  margin-bottom: 1.05em;

  &::after {
    background-color: var(--clr-primary-accent);
    content: '';
    display: block;
    height: .15em;
    margin: .4em 0 0;
    position: absolute;
    transition: background-color .2s ease;
    width: 2em;
  }

  &.short-underline--dark {
    &::after {
      background-color: var(--clr-primary-white);
    }

    &:hover {
      &::after {
        background-color: var(--clr-primary-accent);
      }
    }
  }
}

// Class to make text thin
.text-thin,
%text-thin {
  font-weight: 100;
}

// Class to make text slightly bolder
.text-littlebold,
%text-littlebold {
  font-weight: 300;
}

// Class to make text slightly bolder
.text-bold,
%text-bold {
  font-weight: 600;
}

// Class to make text as bold as possilbe
.text-extrabold,
%text-extrabold {
  font-weight: 900;
}

// Class to make text secondary/less important
.text-secondary,
%text-secondary {
  color: var(--clr-primary-gray);
  font-family: var(--fontstack-text);
  font-size: var(--fontsize-subtext);
  font-style: italic;
  font-weight: normal;
  line-height: var(--lineheight-subtext);
}

// Class for links in text
.text-link {
  background-color: transparent;
  color: var(--clr-secondary-accent);
  position: relative;
  text-decoration: none;
  transition: color .15s ease;
  z-index: 0;

  &::after {
    background-color: var(--clr-secondary-black);
    content: '';
    height: calc(100% + 4px);
    left: -2px;
    max-height: 0;
    padding: 0 2px;
    position: absolute;
    top: 1px;
    transition: max-height .2s ease;
    width: 100%;
    z-index: -1;
  }

  &:focus {
    color: var(--clr-primary-accent);
  }

  &:hover {
    color: var(--clr-primary-white);

    &::after {
      bottom: -1px;
      max-height: 100%;
      top: auto;
    }
  }
}

// Class to make a text smaller then it otherwise would have been
.text-small,
%text-small {
  font-size: .8rem;
  line-height: var(--lineheight-text);
}

// Class to make a text bigger then it otherwise would have been
.text-big,
%text-big {
  font-size: 1.2em;
}
