@import 'variables/colors.css';
@import 'variables/dimensions.css';
@import 'variables/fonts.css';

.article__date {
  color: var(--clr-primary-gray);
  font-family: var(--fontstack-code);
  font-size: var(--fontsize-text);
  margin: -.6em 0 1.4em;
}

.article__figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em 0;
}

.article__image {
  margin: .5em 0;
  width: 100%;
}

.article__links {
  float: right;
}

@media (--medium-screen) {
  .article__image {
    margin: .4em auto;
    max-width: 100%;
    width: auto;
  }

  .article__figure {
    margin: 1em 2.8em;
  }
}
