@import 'variables/colors.css';
@import 'variables/dimensions.css';
@import 'variables/fonts.css';

.article__about {
  position: relative;

  &::before {
    color: var(--clr-primary-gray);
    content: attr(data-name);
    font-family: var(--fontstack-code);
    font-size: var(--fontsize-subtext);
    margin: 0 .3em 0 0;
    pointer-events: none;
  }
}

.article__date {
  color: var(--clr-primary-gray);
  font-family: var(--fontstack-code);
  font-size: var(--fontsize-text);
  margin: -.6em 0 1.4em;
}

.article__figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em 0;
}

.article__image {
  margin: .5em 0;
  width: 100%;
}

.article__links {
  display: inline-flex;
  flex-direction: row;
  float: right;
  list-style: none;

  & > .links__item {
    display: block;
    font-size: 28px;
    height: 100%;
    margin: 0 0 0 12px;
  }
}

@media (--medium-screen) {
  .article__about {
    &::before {
      margin: 0;
      position: absolute;
      right: calc(100% + .6em);
    }
  }

  .article__image {
    margin: .4em auto;
    max-width: 100%;
    width: auto;
  }

  .article__figure {
    margin: 1em 2.8em;
  }
}
@media (--large-screen) {
  .article__about {
    &::before {
      margin: 0 .3em 0 0;
      position: relative;
      right: auto;
    }
  }
}
