@import 'utilities/unselectable.css';
@import 'variables/dimensions.css';

/**
 * The .back-to-top element appears at the bottom of the page
 * and should bring the user back to the top of the page.
 *
 * ### Notes
 *  - The functionality has to be implemented by the
 *    user of this class.
 *  - For optimal experience this element should be
 *    accompanied by `www/scripts/back-to-top.js`.
 *
 * ```
 * <a class="back-to-top" href="">
 *   <p>Back to top</p>
 *   <script async src="/scripts/back-to-top.js" type="text/javascript"></script>
 * </a>
 * ```
 */

.back-to-top {
  display: none;
}

@media (--medium-screen) {
  .back-to-top {
    @apply --unselectable;

    align-items: center;
    bottom: 1em;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 1.7rem;
    max-height: 100px;
    opacity: .5;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 54px;
    text-decoration: none;
    transition:
      bottom .25s ease,
      max-height .25s ease;

    &:focus,
    &:hover {
      opacity: 1;
    }

    &--hidden {
      bottom: 0;
      max-height: 0;
    }
  }

  .back-to-top__icon {
    display: block;
    font-size: 2.2rem;
  }

  .back-to-top__text {
    margin: 0;
  }
}
