@import 'utilities/text.css';
@import 'utilities/unselectable.css';
@import 'variables/colors.css';

.badge {
  @apply --text-bold;
  @apply --text-small;
  @apply --unselectable;

  background-color: var(--clr-badge);
  border-radius: 4px;
  color: var(--clr-primary-white);
  display: inline-block;
  padding: 2px 10px;
  vertical-align: middle;
}
