@import './variables/colors.css';
@import './list.css';

/**
 * Breadcrumbs[1] are used as a navigation tool to inform the
 * user where on the website they are.
 *
 * For correctness the .breadcrumbs class should be used on an
 * ordered list (`<ol>`).
 *
 * ```
 * <ol class="breadcrumbs">
 *   <li class="crumb">Home</li>
 *   <li class="crumb">Page 1</li>
 *   <li class="crumb">Page 2</li>
 * </ol>
 * ```
 *
 * --
 * 1: https://en.wikipedia.org/wiki/Breadcrumb_(navigation)
 */

.breadcrumbs {
  @extend .vlist;

  --separator: '>';
  --separator-fontsize: .8em;
  --space-between: 8px;

  & > .crumb {
    &:not(:last-child)::after {
      content: var(--separator);
      font-size: var(--separator-fontsize);
      padding: 0 var(--space-between);
      pointer-events: none;
    }
  }
}
