@import 'variables/dimensions.css';

.footer {
  --background-color: #171717;
  --boxshadow-blur: 4px;
  --boxshadow-v: 2px;
  --height: 3em;
  --border-width: 2px;

  background: var(--background-color);
  box-shadow: 0 calc(-1 * var(--boxshadow-v)) var(--boxshadow-blur) 0 var(--clr-shadow);
  height: var(--height);
  position: relative;
  width: 100%;
  z-index: var(--layer-roof);

  &::before {
    background: linear-gradient(90deg, var(--mystic-mauvea-start) 0%, var(--mystic-mauvea-end) 100%);
    content: '';
    height: var(--border-width);
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

@media (--medium-screen) {
  .footer {
    height: 4em;
  }
}
@media (--large-screen) {
  .footer {
    align-self: end;
    height: 3em;
  }
}
