@import 'variables/dimensions.css';

.footer {
  background: #171717;
  box-shadow: 0 -2px 4px 0 var(--clr-shadow);
  height: 2.3em;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: var(--layer-roof);

  &::before {
    background: linear-gradient(90deg, var(--mystic-mauvea-start) 0%, var(--mystic-mauvea-end) 100%);
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

@media (--medium-screen) {
  .footer {
    height: 3em;
  }
}
@media (--large-screen) {
  .footer {
    align-self: end;
  }
}
