@import 'utilities/unselectable.css';
@import 'variables/colors.css';
@import 'variables/fonts.css';
@import 'variables/layers.css';

.header {
  z-index: var(--layer-roof);

  .header__icon {
    display: none;
  }

  .header__list {
    align-items: baseline;
    display: flex;
    list-style: none;
    position: relative;

    .list-item {
      display: inline-block;
      font-size: 28px;
      margin: 0 4px;
      padding: 0;
      vertical-align: center;
    }
  }

  .header__title {
    @apply --unselectable;

    overflow-wrap: break-word;
    word-break: normal;

    &::after {
      background: linear-gradient(90deg, var(--mystic-mauvea-start) 0%, var(--mystic-mauvea-end) 100%);
    }
  }
}

.header--compact {
  background-color: var(--clr-primary-white);
  box-shadow: 0 0 4px 0 var(--clr-shadow);
  height: 64px;
  margin: 0;
  max-width: none;
  overflow: hidden;
  padding: 0;
  position: sticky;
  top: 0;
  width: 100%;

  .header__container {
    align-content: center;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    padding: 12px 2em;
  }

  .breadcrumbs {
    align-self: center;
  }

  .header__icon {
    display: block;
    height: 100%;
    margin: 0 12px 0 0;
  }

  .header__list {
    margin: 0 0 0 auto;
    padding: 0;
  }

  .header__message {
    display: none;
  }

  .header__title {
    display: none;
  }
}

@media only screen and (min-width: 961px) and (orientation: landscape) {
  .header > .header__container {
    margin: 0 auto;
    max-width: calc(800px + (2 * 124px));
    padding: 12px 124px;
  }
}
@media only screen and (min-width: 1600px) and (orientation: landscape) {
  .header {
    background-color: var(--clr-primary-white);
    box-shadow: 0 0 4px 0 var(--clr-shadow);
    display: block;
    height: auto;
    justify-self: end;
    margin: 0;
    padding: 0;
    top: 0;
    width: 400px;

    & > .header__container {
      display: block;
      padding: 0 32px 24px;
    }

    .header__icon {
      display: none;
    }

    .header__list {
      align-content: center;
      align-items: stretch;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      margin: 20px 0 0;
      padding: 16px 0 0;

      &::before {
        background-color: var(--clr-primary-black);
        content: '';
        height: 1px;
        position: absolute;
        top: 0;
        width: 30%;
      }
    }

    .header__message {
      display: block;
    }

    .header__title {
      display: block;
    }
  }
}
