@import 'utilities/unselectable.css';
@import 'variables/colors.css';
@import 'variables/dimensions.css';
@import 'variables/fonts.css';
@import 'variables/layers.css';

.header {
  background-color: var(--clr-primary-white);
  box-shadow: 0 0 4px 0 var(--clr-shadow);
  margin: 0;
  padding: 2em;
  z-index: var(--layer-roof);

  .header__container {
    display: flex;
    flex-direction: column;
  }

  .header__icon {
    display: none;
    order: 1;
  }

  .header__list {
    align-self: flex-end;
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    margin: 12px;
    order: 2;
    padding: 0;
    position: absolute;

    .list-item {
      color: var(--clr-primary-gray);
      display: inline-block;
      font-size: 24px;
      margin: 0 0 0 6px;
      padding: 0;
    }
  }

  .header__message {
    order: 3;
  }

  .header__title {
    margin-top: 0;
    order: 1;
    overflow-wrap: break-word;
    word-break: normal;

    &::after {
      background: linear-gradient(90deg, var(--mystic-mauvea-start) 0%, var(--mystic-mauvea-end) 100%);
    }
  }

  .vlist {
    order: 4;
  }
}

.header--compact {
  background-color: var(--clr-primary-white);
  box-shadow: 0 0 4px 0 var(--clr-shadow);
  height: 64px;
  margin: 0;
  max-width: none;
  overflow: hidden;
  padding: 0;
  position: sticky;
  top: 0;
  width: 100%;

  .breadcrumbs {
    align-self: center;
    order: 3;
  }

  .header__container {
    align-content: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 12px 2em;
  }

  .header__icon {
    display: block;
    height: 100%;
    margin: 0 1.4em 0 0;
    order: 1;
  }

  .header__list {
    margin: 0 0 0 auto;
    order: 3;
    padding: 0;
    position: relative;
    top: initial;
  }

  .header__message {
    display: none;
  }

  .header__title {
    display: none;
  }
}

@media (--medium-screen) {
  .header {
    background-color: transparent;
    box-shadow: none;
    margin: 2em auto;
    padding: 0;

    .header__container {
      margin: 12px 96px;
    }
  }

  .header--compact {
    background-color: var(--clr-primary-white);
    box-shadow: 0 0 4px 0 var(--clr-shadow);

    .header__container {
      margin: 0 auto;
      max-width: calc(800px + (2 * 124px));
      padding: 12px 124px;
    }
  }
}
@media (--large-screen) {
  .header {
    background-color: var(--clr-primary-white);
    box-shadow: 0 0 4px 0 var(--clr-shadow);
    display: block;
    height: auto;
    justify-self: end;
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0;
    width: 400px;

    .header__container {
      display: block;
      margin: 0;
      padding: 32px 32px 24px;
    }

    .header__icon {
      display: none;
    }

    .header__list {
      align-content: center;
      align-items: stretch;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      margin: 20px 0 0;
      padding: 16px 0 0;
      position: relative;
      top: initial;

      .list-item {
        margin: 0 0 0 10px;
      }

      &::before {
        background-color: var(--clr-primary-black);
        content: '';
        height: 1px;
        position: absolute;
        top: 0;
        width: 30%;
      }
    }

    .header__message {
      display: block;
    }

    .header__title {
      display: block;
    }
  }
}
