@import 'utilities/unselectable.css';
@import 'variables/colors.css';
@import 'variables/fonts.css';
@import 'variables/layers.css';

.header {
  z-index: var(--layer-roof);

  .header__title {
    @apply --unselectable;

    overflow-wrap: break-word;
    word-break: normal;

    &::after {
      background: linear-gradient(90deg, var(--mystic-mauvea-start) 0%, var(--mystic-mauvea-end) 100%);
    }
  }

  .header__list {
    list-style: none;
    position: relative;

    .list-item {
      display: inline-block;
      font-size: 28px;
      margin: 0 4px;
      padding: 0;
    }
  }

  &--compact {
    align-content: center;
    background-color: var(--clr-primary-white);
    box-shadow: 0 0 4px 0 var(--clr-shadow);
    display: flex;
    height: 64px;
    margin: 0;
    max-width: none;
    overflow: hidden;
    /* margin-top: 64px; */
    padding: 12px 200px;
    position: sticky;
    top: 0;
    width: 100%;

    .header__icon {
      height: 100%;
      margin: 0 12px;
    }

    .header__list {
      margin: 0;
      padding: 0;
    }

    .header__message {
      display: none;
    }

    .header__title {
      display: none;
    }
  }
}

.test {
  /* height: 64px;
  width: 100%; */
}

@media only screen and (min-width: 1600px) and (orientation: landscape) {
  .header {
    background-color: var(--clr-primary-white);
    box-shadow: 0 0 4px 0 var(--clr-shadow);
    display: block;
    height: auto;
    justify-self: end;
    margin: 0;
    padding: 0 32px 24px;
    position: sticky;
    top: 0;
    width: 400px;

    .header__icon {
      display: none;
    }

    .header__list {
      align-content: center;
      align-items: stretch;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      margin: 20px 0 0;
      padding: 16px 0 0;

      &::before {
        background-color: var(--clr-primary-black);
        content: '';
        height: 1px;
        position: absolute;
        top: 0;
        width: 30%;
      }
    }

    .header__message {
      display: block;
    }

    .header__title {
      display: block;
    }
  }
}
