@import './variables/colors.css';
@import './variables/dimensions.css';
@import './variables/fonts.css';

body {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  min-width: var(--min-width);
  overflow: auto;
  width: 100%;
}

footer,
header {
  padding: 0 var(--mobile-side-space);
}

main {
  margin: 0 var(--mobile-side-space);
}

article,
section {
  margin: var(--space-between-sections) 0;
}

@media (--medium-screen) {
  footer,
  header {
    padding: 0;
  }

  header,
  main {
    margin: 0 auto;
    max-width: var(--standard-max-width);
  }
}
@media (--large-screen) {
  body {
    display: grid;
    grid-gap: 0 var(--grid-gap);
    grid-template-columns: 36% calc(64% - var(--grid-gap));
  }

  header {
    align-self: start;
    grid-column: 1 / 2;
  }

  main {
    grid-column: 2 / 3;
    margin: 0;
    padding-left: 0;
  }

  footer {
    grid-column: span 2;
  }
}
