@import 'utilities/text.css';
@import 'variables/colors.css';
@import 'variables/dimensions.css';
@import 'variables/fonts.css';

.list {
  list-style: none;
  margin: 0 0 0 3.2em;
  padding: 0;

  &--horizontal {
    margin: 0 0 0 .2em;
    padding: 0;

    .list-item {
      display: inline-block;
      margin: 0;
      padding: 0;

      &:not(:last-child) {
        &::after {
          content: '/';
          margin: 0 .3em;
        }
      }
    }
  }

  .list-item {
    cursor: pointer;
    margin: 0 0 .3em;
    padding: 0;
    position: relative;
  }

  .list-item__link {
    align-items: center;
    display: flex;
    margin: 0;
    padding: 0;
    text-decoration: none;

    &:focus,
    &:hover {
      &::after {
        background-color: var(--clr-primary-accent);
      }

      .list-item__title {
        margin: 0 auto 0 .4em;
        opacity: 1;
      }
    }

    &::after {
      background-color: var(--clr-primary-black);
      content: '';
      flex-grow: 2;
      height: 1px;
      margin: 0 .3em;
      order: 3;
      transition: background-color .1s ease;
      width: 100%;
    }
  }

  .list-item__title {
    @apply --text-bold;

    display: inline-block;
    flex-grow: 1;
    flex-shrink: 0;
    margin: 0 auto 0 0;
    opacity: .8;
    order: 2;
    transition: margin .2s ease;
  }
}

.list--cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 0 1em;
  padding: 0;
  position: relative;
  width: 100%;

  .list-item {
    align-items: stretch;
    background-color: var(--clr-primary-white);
    box-shadow: 0 0 2px 0 var(--clr-shadow);
    box-sizing: border-box;
    cursor: default;
    display: flex;
    flex-direction: column;
    margin: .4em 0;
    padding: .7em 1em;
    transition: box-shadow .3s ease;
    width: 100%;

    &:focus-within,
    &:hover {
      box-shadow: 0 0 8px 0 var(--clr-shadow);
    }
  }

  .list-item__description {
    flex-grow: 2;
    margin: 0;
    padding: 0 3em 0 0;
  }

  .list-item__header {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }

  .list-item__link {
    display: inline-block;
    font-size: 1.6em;
    margin: 0 0 0 .3em;
    padding: 0;

    &::after {
      content: none;
    }
  }

  .list-item__links {
    align-self: flex-begin;
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    padding: 0 0 0 .1em;
  }

  .list-item__more {
    align-self: flex-end;
    flex-grow: 0;
  }

  .list-item__title {
    flex-grow: 1;
    flex-shrink: 1;
    font-size: var(--fontsize-h5);
    margin: .4em 0;
    opacity: 1;
    order: inherit;
  }
}

.category {
  color: var(--clr-primary-gray);
  cursor: default;
  display: inline-block;
  float: right;
  font-family: var(--fontstack-code);
  font-size: var(--fontsize-subtext);
  font-weight: 400;
  margin: 0;
  pointer-events: none;
}

@media (--medium-screen) {
  .list--cards {
    margin: 0 0 .2em;
    width: 100%;

    .list-item {
      padding: .8em 1.2em 1em;
      width: calc(50% - .4em);

      &:nth-child(odd) {
        margin: .4em .4em .4em 0;
      }

      &:nth-child(even) {
        margin: .4em 0 .4em .4em;
      }
    }

    .list-item__description {
      margin: 0;
      padding: 0;
    }

    .list-item__link {
      font-size: 1.3em;
    }

    .list-item__links {
      padding: 0 0 0 .3em;
    }

    .list-item__more {
      margin: 0;
    }

    .list-item__title {
      margin: .1em 0 .3em;
    }
  }

  .category {
    font-size: 1.2em;
    margin: .6em 0 0;
    position: absolute;
    right: calc(100% + 1em);
  }
}
@media (--large-screen) {
  .category {
    font-size: 1.3em;
    margin: 0;
    right: calc(100% + .1em);
    transform: rotateZ(-90deg) translateX(-60%);
  }
}

.list--links {
  display: inline-block;
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;

  .links__item {
    @apply --text-thin;

    display: inline-block;
    font-size: 1.3em;
    margin: 0 0 0 .25em;
    padding: 0;
  }

  &--glyphs {
    .links__item {
      font-size: 1.7em;
    }
  }
}

.list--glyphs {
  .links__item {
    font-size: 1.7em;
  }
}

@media (--medium-screen) {
  .list--links {
    display: block;
    float: none;
    text-align: center;
  }

  .list--glyps {
    .links__item {
      font-size: 1.9em;
    }
  }
}

.vlist {
  --item-color: var(--clr-primary-gray);
  --item-color-hovered: var(--clr-secondary-gray);
  --fontsize: 14px;

  font-family: var(--fontstack-subtext);
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0;

  & > li {
    color: var(--item-color);
    cursor: default;
    display: inline-block;
    font-family: monospace;
    font-size: var(--fontsize);
    margin: 0;
    padding: 0;

    & > a:hover {
      color: var(--item-color-hovered);
      cursor: pointer;
    }
  }
}

.vlist--evenly-spaced {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;

  & > li {
    padding: 0 8px;
  }
}
