@import 'utilities/text.css';
@import 'variables/colors.css';
@import 'variables/dimensions.css';
@import 'variables/fonts.css';
@import 'variables/paths.css';

body {
  background-color: #fafafa;
  border: 0;
  color: var(--clr-primary-black);
  display: flex;
  flex-flow: column nowrap;
  font-size: var(--fontsize-root);
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

/* Layout
   ========================================================================== */

article,
body,
div,
footer,
header,
main,
nav,
ol,
section,
ul {
  box-sizing: border-box;
  display: block;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  position: relative;
}

article,
section {
  margin: 1em 2em;
}

footer,
header {
  flex-shrink: 0;
}

main {
  flex-grow: 2;
}

@media (--medium-screen) {
  header,
  main {
    padding: 0 124px;
  }

  article,
  section {
    margin: 2em auto;
    max-width: 800px;
  }
}
@media (--large-screen) {
  body {
    display: grid;
    grid-gap: 0 54px;
    grid-template-columns: 36% calc(64% - 54px);
    width: 100%;
  }

  header {
    align-self: start;
    grid-column: 1 / 2;
  }

  main {
    grid-column: 2 / 3;
    padding: 0;
  }

  footer {
    grid-column: span 2;
  }

  article,
  header,
  section {
    margin: 2em 0;
  }
}

/* Text
   ========================================================================== */

a,
b,
br,
code,
figcaption,
h1,
h2,
h3,
h4,
h5,
h6,
i,
kbd,
li,
p,
span,
ul {
  color: inherit;
  margin: 0;
  padding: 0;

  &::selection {
    background-color: var(--clr-primary-accent);
    color: var(--clr-primary-white);
  }
}

h1 {
  font-family: var(--fontstack-header);
  font-size: var(--fontsize-h1);
  line-height: var(--lineheight-header);
  margin: 1em 0 .3em;
}

h2 {
  font-family: var(--fontstack-header);
  font-size: var(--fontsize-h2);
  line-height: var(--lineheight-header);
  margin: 1em 0 .3em;
}

h3 {
  font-family: var(--fontstack-header);
  font-size: var(--fontsize-h3);
  line-height: var(--lineheight-header);
  margin: 1em 0 .3em;
}

h4 {
  font-family: var(--fontstack-subheader);
  font-size: var(--fontsize-h4);
  line-height: var(--lineheight-subheader);
  margin: 1.2em 0 .3em;
}

h5 {
  font-family: var(--fontstack-subheader);
  font-size: var(--fontsize-h5);
  line-height: var(--lineheight-subheader);
  margin: 1.2em 0 .3em;
}

h6 {
  font-family: var(--fontstack-subheader);
  font-size: var(--fontsize-h6);
  line-height: var(--lineheight-subheader);
  margin: 1.2em 0 .3em;
}

p,
li {
  font-family: var(--fontstack-text);
  font-size: var(--fontsize-text);
  line-height: var(--lineheight-text);
  word-break: keep-all;
}

span {
  font-family: inherit;
  font-size: inherit;
}

b,
strong,
.text-bold {
  @apply --text-bold;
}

i,
em,
.text-emph {
  @apply --text-emph;
}

/* Utillity
   ========================================================================== */

code {
  background-color: var(--clr-code-background);
  border-radius: 2px;
  color: var(--clr-primary-black);
  font-family: var(--fontstack-code);
  padding: .05em .2em;
}

figcaption,
.text-sub {
  @apply --text-sub;
}

img {
  background-image: var(--placeholder-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: transparent; /* hide the alt text when image is not found */
  min-height: 256px;
  min-width: 256px;
}

kbd { /* Based on GitHub's <kbd> styling */
  background-color: #fafbfc;
  border: 1px solid #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
  color: #444d56;
  display: inline-block;
  font-size: 11px;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}
