@import 'utilities/text.css';
@import 'utilities/unselectable.css';
@import 'variables/colors.css';
@import 'variables/fonts.css';
@import 'variables/layers.css';

.background-hover {
  &::before {
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none; /* Prevents hover action on the (invisible) psuedo element */
    position: absolute;
    top: 0;
    transition: opacity .2s ease;
    width: 100%;
    z-index: var(--layer-basement);
  }

  &:hover {
    &::before {
      opacity: 1;
    }
  }
}

.icon {
  display: block;
  text-decoration: none;

  &--hover {
    &:focus,
    &:hover {
      color: var(--clr-secondary-accent);
    }
  }
}

.mimic-parent {
  all: inherit;
}

@media only screen and (min-width: 961px) and (orientation: landscape) {
  .mobile-only {
    display: none !important; /* stylelint-disable declaration-no-important */
  }
}

.more-arrow {
  @apply --unselectable;
  @apply --text-bold;

  cursor: pointer;
  margin: .7em 1em;
  position: relative;
  text-decoration: none;
  transition: color .1s ease, margin .15s ease;

  &::after {
    color: var(--clr-primary-black);
    content: '\00A0\2192';
    display: block;
    left: 100%;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: left .15s ease, opacity .1s ease;
  }

  &:focus,
  &:hover {
    color: var(--clr-primary-accent);
    margin-right: 1.4em;

    &::after {
      left: 100%;
      opacity: 1;
      pointer-events: all;
    }
  }
}

@media only screen and (min-width: 961px) and (orientation: landscape) {
  .more-arrow {
    margin: 0;
  }
}

.short-underline {
  margin-bottom: 1.05em;

  &::after {
    background-color: var(--clr-primary-accent);
    content: '';
    display: block;
    height: .15em;
    margin: .4em 0 0;
    position: absolute;
    transition: background-color .2s ease;
    width: 2em;
  }

  &--inverse {
    &::after {
      background-color: var(--clr-primary-white);
    }

    &:hover {
      &::after {
        background-color: var(--clr-primary-accent);
      }
    }
  }
}

.section--full-width {
  margin: 0;
  max-width: none;
  padding: 0;
}

.text-link {
  background-color: transparent;
  color: var(--clr-secondary-accent);
  position: relative;
  text-decoration: none;
  transition: color .15s ease;
  z-index: 0;

  &::after {
    background-color: var(--clr-primary-black);
    content: '';
    height: calc(100% + 4px);
    left: -2px;
    max-height: 0;
    padding: 0 2px;
    position: absolute;
    top: 1px;
    transition: max-height .2s ease;
    width: 100%;
    z-index: -1;
  }

  &:focus {
    color: var(--clr-primary-accent);
  }

  &:hover {
    color: var(--clr-primary-white);

    &::after {
      bottom: -1px;
      max-height: 100%;
      top: auto;
    }
  }
}
