@import 'variables/colors.css';
@import 'variables/layers.css';

.navbar {
  display: none;
}

@media only screen and (min-width: 961px) and (orientation: landscape) {
  .navbar {
    --icon-size: 48px;

    background-color: transparent;
    display: flex;
    flex-direction: column;
    height: 100%;
    left: 0;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: var(--icon-size);
    z-index: var(--layer-ceiling);

    .navbar__group {
      list-style: none;
      margin: 0;
      padding: 0;

      &--bottom {
        margin-top: auto;
      }

      &--hidden {
        .navbar__item {
          &:last-child {
            margin-bottom: -200%;
          }
        }
      }
    }

    .navbar__item {
      color: var(--clr-primary-black);
      cursor: pointer;
      font-size: 28px;
      height: var(--icon-size);
      line-height: var(--icon-size);
      margin: 0;
      padding: 0;
      pointer-events: auto;
      text-align: center;
      text-decoration: none;
      transition: background-color .1s ease, color .1s ease, margin .2s ease-out;
      vertical-align: middle;
      width: var(--icon-size);

      &:focus,
      &:focus-within,
      &:hover {
        background-color: var(--clr-primary-black);
        color: var(--clr-primary-white);
      }
    }
  }
}
