@import 'utilities/unselectable.css';
@import 'variables/colors.css';

:root {
  --hashtag: '#';
}

.tags {
  @apply --unselectable;

  --margin-v: 1.5em;

  display: block;
  list-style: none;
  margin: var(--margin-v) 0;
  position: relative;
}

.tag {
  background-color: var(--clr-primary-accent);
  border-radius: var(--border-radius);
  color: var(--clr-primary-white);
  cursor: default;
  display: inline-block;
  font-size: 1.1em;
  margin: 0 var(--space-between);
  padding: var(--padding-v) var(--padding-h);

  &::before {
    background-color: var(--clr-secondary-accent);
    border-bottom-left-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    content: var(--hashtag);
    float: left;
    margin: calc(-1 * var(--padding-v)) var(--padding-h) calc(-1 * var(--padding-v)) calc(-1 * var(--padding-h));
    padding: var(--padding-v) var(--padding-h);
  }

  &:first-child {
    margin-left: 0;
  }
}
