@import 'utilities/unselectable.css';
@import 'variables/colors.css';

.tags {
  @apply --unselectable;

  display: block;
  list-style: none;
  position: relative;
}

.tag {
  background-color: var(--clr-primary-accent);
  border-radius: 4px;
  color: var(--clr-primary-white);
  cursor: default;
  display: inline-block;
  margin: 4px;
  padding: 0 8px 0 0;

  &::before {
    background-color: var(--clr-secondary-accent);
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    content: '#';
    float: left;
    margin: 0 6px 0 0;
    padding: 0 6px;
  }

  &:first-child {
    margin-left: 0;
  }
}
