/* ----- Font faces ----- */
@import url(http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans);
@font-face {
    font-family: 'Kirvy';
    src: url('/assets/fonts/kirvy-thin-webfont.eot');
    src: url('/assets/fonts/kirvy-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/kirvy-thin-webfont.woff2') format('woff2'),
         url('/assets/fonts/kirvy-thin-webfont.woff') format('woff'),
         url('/assets/fonts/kirvy-thin-webfont.ttf') format('truetype'),
         url('/assets/fonts/kirvy-thin-webfont.svg#baururegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ----- General Elements ----- */
* { border: 0; margin: 0; outline: none; padding: 0; transition: all .3s ease; }
html, body { height: 100%; width: 100%; }

h1, h2, h3, h4, h5, h6 {
	color: #FFF;
	font-weight: 100;
}
h1, h2 { font-family: 'Droid Serif'; }
h3, h4, h5, h6 { font-family: 'Kirvy'; }
h1 { font-size: 200px; }
h2 { font-size: 100px; }
h3 { font-size: 40px; }
h4 { font-size: 32px; }
h5 { font-size: 28px; }
h6 { font-size: 24px; }
p, li {
    color: #EEE;
    font-family: 'Open Sans';
    font-weight: 100;
    line-height: 1.3em;
}
a {
    color: #999;
    cursor: pointer;
    text-decoration: none;
    font-weight: lighter;
}
a:hover {
    color: #2196F3;
}

/* ----- General BEM ----- */
.container {
	display: block;
	height: calc(100% + 50px);
    min-height: 620px;
    min-width: 875px;
	position: relative;
	width: 100%;
}
.container--limit {
	height: 100%;
}
.container--extend {
    height: calc(100% + 100px);
}

.content {
	height: 100%;
	position: relative;
}
.content__row {
	display: block;
    padding: 0 50px;
}
.content__row:first-child {
    padding-top: 90px;
}
.content__row--bottom {
	bottom: 10px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
}
.content__row--center {
	text-align: center;
}
	.content__row--center * {
		display: inline-block;
	}
.content__row--hidden {
    margin-top: +50px;
    opacity: 0;
}
.content__row--left {
    position: absolute;
}
.content__row--right {
    position: absolute;
    right: 0;
    text-align: right;
}

.content__row--continue {
    bottom: -40px;
}
    .content__continue {
    	cursor: pointer;
    	height: 50px;
    	text-align: center;
    	width: 100%;
    }
    	.content__continue * {
    		height: 50px;
    		display: inline-block;
    		width: 60px;
    	}
    	.content__continue p {
    		line-height: 50px;
    		font-family: 'Kirvy';
    		font-size: 12px;
    		margin-left: -60px;
    		opacity: 0;
    	}
    	.content__continue svg {
    		position: absolute;
    		width: 50px;
    	}

.content__title {
    line-height: 1.5em;
}
.content__subtitle {
    border-top: 1px solid #FFF;
    padding: 15px 30px 15px 0;
    width: 430px;
}
.content__infotext {
    border-top: 1px solid #FFF;
    font-size: 14px;
    line-height: 1.4em;
    padding: 15px 30px 15px 0;
    width: 380px;
}
    .content__row--right .content__subtitle,
    .content__row--right .content__infotext {
        margin-left: auto;
        padding-left: 30px;
        padding-right: 0;
    }

/* ----- Pages ----- */
/* Page 1 & 6 */
.one, .one::after {
	background-color: #181818;
}
	.one::after {
		z-index: -1;
	}
.six {
    background-color: #202020;
    z-index: -6;
}
    .one .content__title,
    .six .content__title {
        line-height: 1.1em;
    }
    .one .content__subtitle,
    .six .content__subtitle {
        width: 500px;
        padding: 15px 0;
    }
    .six .content__infotext {
        padding: 15px;
        text-align: left;
        width: 350px;
    }
    .six .content__title {
        padding-top: 80px;
    }
    .six .content__links {
        border-top: 1px solid #FFF;
        padding: 15px 0;
        width: 380px;
    }
    .six .content__links a {
        margin: 0 10px;
    }

/* Page 2 - 5 */
.two, .two::after {
    background-color: #202020;
	z-index: -2;
}
.three, .three::after {
	background-color: #282828;
	z-index: -3;
}
.four, .four::after {
	background-color: #303030;
	z-index: -4;
}
.five, .five::after {
	background-color: #282828;
	z-index: -5;
}

/* ----- Expo circles ----- */
.expo--circles {
    text-align: center;
    bottom: 50px;
}
    .expo--circles__circle {
        border: 2px solid #FFF;
        border-radius: 100%;
        cursor: default;
        display: inline-block;
        height: 196px;
        margin-left: 50px;
        position: relative;
        text-align: left;
        width: 196px;
    }
    .expo--circles__circle * {
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
    }
    .expo--circles__circle h5 {
        top: 48%;
        font-weight: bolder;
        opacity: 1;
    }
    .expo--circles__circle p {
        top: 30%;
        opacity: 0;
        width: 75%;
    }
    .expo--circles__circle:hover {
        border-color: #2196F3;
        background-size: 250px 250px;
    }
    .expo--circles__circle:hover h5 {
        top: 68%;
        opacity: 0;
    }
    .expo--circles__circle:hover p {
        top: 50%;
        opacity: 1;
    }

/* ----- Miscellaneous ----- */
.slant--left::after {
    background-color: inherit;
	content: '';
	position: absolute;
	left: 0;
	top: -10%;
	overflow: visible;
	width: 100%;
	height: 120%;
	box-shadow: 1px 0px 8px #111;

	-webkit-transform: skewY(-5deg);
	-moz-transform: skewY(-5deg);
	-ms-transform: skewY(-5deg);
	-o-transform: skewY(-5deg);
	transform: skewY(-5deg);
}
.slant--right::after {
    background-color: inherit;
	box-shadow: 1px 0px 8px #111;
	content: '';
	height: 120%;
	left: 0;
	overflow: visible;
	position: absolute;
	top: -10%;
	width: 100%;

	-webkit-transform: skewY(5deg);
	-moz-transform: skewY(5deg);
	-ms-transform: skewY(5deg);
	-o-transform: skewY(5deg);
	transform: skewY(5deg);
}

h2:hover .color-touch,
h3:hover .color-touch,
h4:hover .color-touch,
span:hover .color-touch {
	color: #2196F3;
}

.unselectable {
	cursor: default;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;

	unselectable=on;
	onselectstart=return false;
	onmousedown=return false;
}

/* ----- Responsive ----- */
/* Desktop */
@media (max-height: 700px) and (min-height: 600px) and (min-width: 1040px) {
    .expo--circles {
        width: 50%;
        bottom: 0;
    }
    .slant--right .expo--circles {
        margin: 0;
    }
    .slant--left .expo--circles {
        margin-left: 40%;
    }
}
@media (max-width: 1040px), (max-height: 600px) {
    .content__subtitle {
        width: 80% !important;
    }
    .content__infotext,
    .six .content__links {
        font-size: 14px;
        width: 75% !important;
    }
    .six .content__row {
        padding-top: 50px;
    }

    .expo--circles {
        bottom: 20px;
    }
}
@media (max-width: 1040px) and (max-height: 600px) {
    .expo--circles__circle {
        width: 150px;
        height: 150px;
    }
    .expo--circles__circle h5 {
        font-size: 18px;
    }
    .expo--circles__circle p {
        font-size: 12px;
    }
}
@media (min-device-width: 480px) {
    /* Only use .content__continue animations on desktop */
    .content__continue:hover svg {
        opacity: 0;
    }
    .content__continue:hover p {
        margin-left: 50px;
        opacity: 1;
    }
}

/* Mobile */
@media (max-device-width: 480px) {
    /* ----- General Elements ----- */
    h3 { font-size: 60px; }
    h4 { font-size: 50px; }

    /* ----- General BEM ----- */
    .content__row:first-child {
        padding-top: 200px;
    }

    .content__subtitle {
        width: calc(100% - 40px) !important;
    }
    .content__infotext,
    .six .content__links {
        font-size: 30px;
        width: calc(100% - 40px) !important;
    }

    /* ----- Expo circles ----- */
    .expo--circles__circle {
        height: 300px;
        width: 300px;
    }
    .expo--circles__circle h5 {
        font-size: 36px;
    }
    .expo--circles__circle p {
        font-size: 30px;
    }

    /* ----- Miscellaneous ----- */
    .color-touch {
        color: #2196F3;
    }
}
