{{page "title" "Atom Tool Bar"}}

{{#> layouts/contribution}}
  {{#*inline "description"}}
  <p>I started using this <a class="text-link" href="https://atom.io/" rel="noopener">Atom</a> package with the <a class="text-link" href="https://github.com/cakecatz/flex-toolbar" rel="noopener">flex-toolbar</a> package. Most notably, I made a few contributions adding functionality I wanted to see in the package (e.g. <a class="text-link" href="https://github.com/suda/tool-bar/pull/258" rel="noopener">#258</a> and <a class="text-link" href="https://github.com/suda/tool-bar/pull/285" rel="noopener">#285</a>). I also submitted a Pull Request to fix Continuous Integration errors that blocked another Pull Request to update a vulnerable dependency (<a class="text-link" href="https://github.com/suda/tool-bar/pull/281" rel="noopener">#281</a>). Besides that I conducted reviews of Pull Requets from others, such as <a class="text-link" href="https://github.com/suda/tool-bar/pull/277" rel="noopener">#277</a> and <a class="text-link" href="https://github.com/suda/tool-bar/pull/278" rel="noopener">#278</a>.</p>

  <h4>Flex Toolbar</h4>
  <p>I mentioned that I started contributing to the Atom Tool Bar package because I use the <a class="text-link" href="https://github.com/cakecatz/flex-toolbar" rel="noopener">flex-toolbar</a> package. I also made a contribution to this package by adding support for new features introduced in Atom Tool Bar in <a class="text-link" href="https://github.com/cakecatz/flex-toolbar/pull/167" rel="noopener">flex-toolbar/#167</a>.</p>
  {{/inline}}
{{/layouts/contribution}}
