{{page "title" "Atom"}}

{{#> layouts/contribution}}
  {{#*inline "description"}}
  <p>Atom is one of my all-time favorite text editor, and it being open source I wanted to help develop it. I worked on a couple of core packages, starting with a small bugfix for the <a class="text-link" href="https://github.com/atom/wrap-guide" rel="noopener">atom/wrap-guide</a> (<a class="text-link" href="https://github.com/atom/wrap-guide/pull/72" rel="noopener">#72</a>). Later I added a feature to <a class="text-link" href="https://github.com/atom/github" rel="noopener">atom/github</a> that allows you to view the credentials you entered when communicating with the remote (<a class="text-link" href="https://github.com/atom/github/pull/1808" rel="noopener">#1808</a>).</p>

  <figure class="article__figure">
    <img class="article__image" alt="Preview of show password button" src="https://user-images.githubusercontent.com/3742559/48980192-9f385b00-f0ce-11e8-8fa2-dbae656df87a.gif">
    <figcaption class="text-secondary">Preview of show password button.</figcaption>
  </figure>

  <p>I also have a Pull Request open on the main repository to add an option for community packages to prevent a tab from being closed (<a class="text-link" href="https://github.com/atom/atom/pull/13812" rel="noopener">#13812</a>).</p>

  <p>Besides contributing to the core project, I also contribute to the <a class="text-link" href="https://github.com/AtomLinter" rel="noopener">Atom Linter</a> project. This started with adding an intelligent disable function to the linter package for HTMLHint (<a class="text-link" href="https://github.com/AtomLinter/linter-htmlhint/pull/172" rel="noopener">#172</a>). I also started my own linter package, based on a fork of linter-htmlhint, for htmllint that you can find <a class="text-link" href="https://github.com/AtomLinter/linter-htmllint" rel="noopener">on GitHub</a>.</p>

  <p>Other then that I worked on or participated in the following threads:</p>

  <ul>
    <li><a class="text-link" href="https://github.com/atom/flight-manual.atom.io/pull/420" rel="noopener">atom/flight-manual#420</a>: Updated the instruction on setting up the development environment on Windows.</li>
    <li><a class="text-link" href="https://github.com/area/language-latex/pull/181" rel="noopener">area/language-latex#181</a>: Fixed autocomplete when a latex command is started with a backslash, e.g <code>subpar</code> and <code>\subpar</code> are both autocompleted to <code>\subparagraph</code>.</li>
    <li><a class="text-link" href="https://github.com/steelbrain/linter/pull/1598" rel="noopener">steelbrain/linter#1598</a>: Don't wipe lint message when a file is opened in two seperate text editors.</li>
  </ul>
  {{/inline}}
{{/layouts/contribution}}
