{{page "title" "commitlint"}}

{{#> layouts/contribution}}
  {{#*inline "description"}}
  <p>In personal project I occasionally use <a class="text-link" href="https://git-scm.com/book/en/v2/Git-Tools-Submodules" rel="noopener">git submodules</a> to organize subprojects. When I one day combined this practice with the use of commitlint, I discovered that git submodules are not supported. After reporting the issue, I diagnosed the problem and fixed it.</p>

  <p>The issue was caused by the fact that submodules don't have their own <code>.git</code> folder, instead it is a file pointing to the parent repository's <code>.git</code> folder. commitlint looks for the <code>COMMIT_EDITMSG</code> file in the <code>.git</code> folder, so in the case of a submodule it should use the pointer in the <code>.git</code> file to find the <code>COMMIT_EDITMSG</code> of the parent repository and obtain the commit message. This change was implemented and accepted in <a class="text-link" href="https://github.com/marionebl/commitlint/pull/469" rel="noopener">#469</a>.</p>
  {{/inline}}
{{/layouts/contribution}}
