{{page "title" "Fluent Terminal"}}

{{#> layouts/contribution}}
  {{#*inline "description"}}
  <p>As an early user of this terminal emulator for Windows 10, I decided I wanted to help develop it. Unfamiliar with the Universal Windows Platform and not fluent in C# I decided to start with a fairly simple requested feature: an about section in the settings window. In collaboration with the project owner I implemented this in Pull Request <a class="text-link" href="https://github.com/felixse/FluentTerminal/pull/103" rel="noopener">#103</a>.</p>

  <figure class="article__figure">
    <img class="article__image" alt="Preview of about section in settings window" src="https://user-images.githubusercontent.com/3742559/47317218-b1e3ee00-d651-11e8-898f-36480201b912.gif">
    <figcaption class="text-secondary">Preview of the About section in settings window.</figcaption>
  </figure>
  {{/inline}}
{{/layouts/contribution}}
