{{page "title" "Protect your Selfie"}}

{{#> layouts/project}}
  {{#*inline "description"}}
  <p>With a team of 4, we created this concept web application at <a class="text-link" href="https://hackdelft.com/" rel="noopener">HackDelft</a> 2017. The task was to create a web application that gives users control over their sensitive data. Users should be allowed to upload files which are stored on a server, and tell the application which organisations and people have access to any particular file. We decided to use a NodeJS for quick development and use <abbr title="Amazon Web Services">AWS</abbr> to store the data.</p>

  <figure class="article__figure">
    <img class="article__image" alt="Landing page of the application" src="/assets/images/protect-your-selfie.jpg">
    <figcaption class="text-secondary">Screenshot of the landing page of Protect Your Selfie.</figcaption>
  </figure>

  <p>On the server, any data for storage is first encrypted using a symmetric key and is then sent to AWS for storage. This symmetric key is then encrypted with the public key of the user and is then stored on the server itself. When the user wants to retreive the file it can decrypted the encrypted symmetric key and decrypt the file from AWS.</p>

  <p>If the user wants to grant an organisation access to a particilar file, they can encrypted the symmetric key with public key of the organisation. The organisation can then decrypted that value to obtain the symmetric key to decrypt the file from AWS.</p>
  {{/inline}}
{{/layouts/project}}
