{{page "title" "Register Callback Function UDF"}}

{{#> layouts/project}}
  {{#*inline "description"}}
  <p>A small <abbr title="User Defined Function">UDF</abbr> for the BASIC-like programming language <a class="text-link" href="https://www.autoitscript.com/site/autoit/" rel="noopener">AutoIt v3</a>. It allows developer to create a callback loop for one of their functions so that it is called every x milliseconds.</p>
  {{/inline}}
{{/layouts/project}}
