{{page "title" "Simple Icons"}}

{{#> layouts/contribution}}
  {{#*inline "description"}}
  <p>I started contributing to the Simple Icons project by submitting a Pull Request for the CSS3 icon (<a class="text-link" href="https://github.com/simple-icons/simple-icons/pull/373" rel="noopener">#373</a>). Over time I became more invested in the project and gradually acquired the status of maintainer. I worked on accessability (<a class="text-link" href="https://github.com/simple-icons/simple-icons/pull/500" rel="noopener">#500</a>, <a class="text-link" href="https://github.com/simple-icons/simple-icons/pull/1062" rel="noopener">#1062</a>), testing (<a class="text-link" href="https://github.com/simple-icons/simple-icons/pull/972" rel="noopener">#972</a>), continuous integration (<a class="text-link" href="https://github.com/simple-icons/simple-icons/pull/527" rel="noopener">#527</a>, <a class="text-link" href="https://github.com/simple-icons/simple-icons/pull/948" rel="noopener">#948</a>), and documentation (<a class="text-link" href="https://github.com/simple-icons/simple-icons/pull/490" rel="noopener">#490</a>, <a class="text-link" href="https://github.com/simple-icons/simple-icons/pull/796" rel="noopener">#796</a>, <a class="text-link" href="https://github.com/simple-icons/simple-icons/pull/926" rel="noopener">#926</a>). Besides submitting various Pull Requests for new or updated icons over time, I worked on the following issues:</p>

  <ul>
    <li><a class="text-link" href="https://github.com/simple-icons/simple-icons/pull/488" rel="noopener">#488</a>: Change icon color based on relative luminance.</li>
    <li><a class="text-link" href="https://github.com/simple-icons/simple-icons/pull/649" rel="noopener">#649</a>: Improve usability for users with JavaScript disabled.</li>
    <li><a class="text-link" href="https://github.com/simple-icons/simple-icons/pull/658" rel="noopener">#658</a>: Show search query in URL.</li>
    <li><a class="text-link" href="https://github.com/simple-icons/simple-icons/pull/659" rel="noopener">#659</a>: Implement <a class="text-link" href="https://en.wikipedia.org/wiki/Approximate_string_matching" rel="noopener">fuzzy search</a>.</li>
    <li><a class="text-link" href="https://github.com/simple-icons/simple-icons/pull/726" rel="noopener">#726</a>: Add option to sort alphabetically.</li>
    <li><a class="text-link" href="https://github.com/simple-icons/simple-icons/pull/949" rel="noopener">#949</a>: Add option to sort by relevance based on search.</li>
    <li><a class="text-link" href="https://github.com/simple-icons/simple-icons/pull/1053" rel="noopener">#1053</a>: Remember user's ordering preference using the <a class="text-link" href="https://developer.mozilla.org/en-US/docs/Web/API/Window/localStorage" rel="noopener">localStorage API</a>.</li>
    <li><a class="text-link" href="https://github.com/simple-icons/simple-icons/pull/1170" rel="noopener">#1170</a>: Improve search performance utilising CSS classes and variables.</li>
  </ul>

  <h4>Release Action</h4>
  <p>To automate the release process of Simple Icons I created a <a class="text-link" href="https://github.com/features/actions" rel="noopener">GitHub Actions</a> action that generates a Pull Request to merge the development branch into the <code>master</code> branch with release notes for the changes. <a class="text-link" href="https://github.com/simple-icons/release-action" rel="noopener">The action</a> is configured to create such a Pull Request every week.</p>

  <h4>TypeScript Support</h4>
  <p>In <a class="text-link" href="https://github.com/DefinitelyTyped/DefinitelyTyped/pull/42541" rel="noopener">DefinitelyTyped/#42541</a> I added <a class="text-link" href="" rel="noopener">TypeScript</a> type definition for the Simple Icons' <abbr title="Node Package Manager">NPM</abbr> package.</p>

  <h4>vue-simple-icons</h4>
  <p>This Vue.js package for Simple Icons integration was initiated by a user through issue <a class="text-link" href="https://github.com/simple-icons/simple-icons/issues/1117" rel="noopener">simple-icons#1117</a>. I contributed to this initiative mainly through issues, Pull Request reviews, and documentation. But also made some code contributions, including:</p>
  <ul>
    <li><a class="text-link" href="https://github.com/sh7dm/vue-simpleicons/pull/17" rel="noopener">#17</a>: Add missing <code>xmlns</code> attribute to generated SVGs.</li>
    <li><a class="text-link" href="https://github.com/sh7dm/vue-simpleicons/pull/20" rel="noopener">#20</a>: Refactor icon generator for increased performance.</li>
  </ul>
  {{/inline}}
{{/layouts/contribution}}
