{{page "title" "SVGOMG"}}

{{#> layouts/contribution}}
  {{#*inline "description"}}
  <p>SVGOMG is a tool that I frequently use and got to know thourgh the <a class="text-link" href="https://github.com/simple-icons/simple-icons" rel="noopener">Simple Icon</a> project. I myself and the Simple Icons community were facing an issue regarding the settings of the tool, and wanted a way to reset them. Hence, I went ahead an proposed a reset button in Pull Request <a class="text-link" href="https://github.com/jakearchibald/svgomg/pull/141" rel="noopener">#141</a>, which lead to Pull Request <a class="text-link" href="https://github.com/jakearchibald/svgomg/pull/142" rel="noopener">#142</a> in which I collaborated with <a class="text-link" href="https://github.com/jakearchibald" rel="noopener">Jake Archibald</a> (the maintainer of SVGOMG) to get a working reset button for the settings on the website.</p>

  <p>You can now use the button on the <a class="text-link" href="https://jakearchibald.github.io/svgomg/" rel="noopener">site</a>! It is at the bottom of the settings panel.</p>
  {{/inline}}
{{/layouts/contribution}}
