<a class="back-to-top" aria-hidden="true" href="{{page 'url'}}" rel="noopener">
  <i class="back-to-top__icon icon icon-chevron-up" aria-hidden="true"></i>
  <p>Back to top</p>
  <script async src="/scripts/back-to-top.js" type="text/javascript"></script>
</a>
