<nav class="navbar">
  <ul class="navbar__group">
    <li class="navbar__item">
      <a aria-label="link to the homepage" class="icon icon-home" href="/" rel="noopener"></a>
    </li>
    <li class="navbar__item">
      <a class="icon icon-resume" aria-label="download my resume" href="/downloads/cv_eric-cornelissen.pdf" rel="noopener" target="_blank"></a>
    </li>
  </ul>

  <ul class="navbar__group navbar__group--bottom">
    {{#each social}}
      <li class="navbar__item">
        <a class="icon {{get_icon @key}}" aria-label="link to my {{get_name @key}}" href="{{url}}" rel="noopener" target="{{target}}"></a>
      </li>
    {{/each}}
  </ul>
</nav>
