{% capture title %}{{ site.title }}{% if page.title != null %} - {{ page.title }}{% endif %}{% endcapture %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% if page.description != null %}
<meta name="description" content="{{ page.description }}">
{% endif %}
{% if page.keywords != null %}
<meta name="keywords" content="{{ site.keywords }},{{ page.keywords }}">
{% endif %}
<meta name="title" content="{{ title }}">
<meta name="theme-color" content="#212121">

{% unless page.title == 'Page not found' %}
<meta property="og:title" content="{{ title }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:locale" content="{{ site.lang }}">
{% if page.image != null %}
<meta property="og:image" content="{{ page.image }}">
{% endif %}

<meta name="twitter:card" content="summary">
<meta name="twitter:creator" content="@ericornelissen">
{% endunless %}

<link href="/assets/favicon.svg" rel="icon" sizes="any" type="image/svg+xml">
<link href="/assets/favicon-32.png" rel="icon" sizes="32x32" type="image/png">
<link href="/assets/favicon-16.png" rel="icon" sizes="16x16" type="image/png">

<title>{{ title }}</title>
