<a class="back-to-top" aria-hidden="true" href="{{page.url}}">
  <i class="back-to-top__icon icon-arrowup" aria-hidden="true"></i>
  <p class="">Back to top</p>
  <script async src="/scripts/back-to-top.js" type="text/javascript"></script>
</a>
