$minwidth-desktop: 750px;


$dimensions-article: (
  desktop: (
    margin: (
      image: .4em auto,
      named-line: .6em
    )
  ),
  mobile: (
    margin: (
      image: .5em 0,
      named-line: 0 .3em 0 0
    )
  )
);

$dimensions-backtotop: (
  bottom: -48px,
  bottom_hidden: -144px,
  right: 64px
);

$dimensions-cardboard: (
  desktop: (
    margin: (
      _: 0 0 0 -.4em,
      item: .4em,
      item-title: .3em 0
    ),
    padding: (
      _: 0,
      item: .8em 1.2em,
      item-description: 0,
      item-links: 0 0 0 .3em
    ),
    width: (
      _: calc(100% + .4em),
      item: calc(50% - #{2 * .4em}) // 50% - 2 * desktop.margin.item
    )
  ),
  mobile: (
    margin: (
      _: 0,
      item: .4em 0,
      item-title: .4em 0
    ),
    padding: (
      _: 0,
      item: .7em 1em,
      item-description: 0 3em 0 0,
      item-links: 0 0 0 .1em
    ),
    width: (
      _: 100%,
      item: 100%
    )
  )
);

$dimensions-footer: (
  clippath: polygon(0 0, 100% 3vw, 100% 100%, 0 100%),
  width: 100%,

  desktop: (
    margin: (
      _: 2em 0 0 0,
      glyphs: 0
    ),
    padding: (
      _: 6.5em 4em 2.5em 4em
    )
  ),
  mobile: (
    margin: (
      _: 3em 0 0 0,
      message: .5em 0,
      social: .5em 0,
      glyphs: 0 6px
    ),
    padding: (
      _: 3em 4em
    )
  )
);

$dimensions-header: (
  clippath: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 3vw)),
  height: 50%,
  height-home: 86.5%,
  minheight: 375px,
  width: 100%,

  desktop: (
    margin: (
      _: 0 0 12px 0,
      link-item: 0,
      message: auto 0 0 0,
      message-home: auto 0 2em 0,
      title: 0
    ),
    maxwidth: (
      message: 450px
    ),
    padding: (
      _: 5em 6em,
      link-item: 0
    )
  ),
  mobile: (
    margin: (
      _: 0 0 -1em 0,
      message: auto 0 0 0,
      message-home: auto 0 .8em 0,
      title: 0
    ),
    padding: (
      _: 10vh 4rem
    )
  )
);

$dimensions-links: (
  desktop: (
    margin: (
      _: 0,
      item: 0
    ),
    padding: (
      _: 0,
      item: 0
    )
  ),
  mobile: (
    margin: (
      _: 0,
      item: 0
    ),
    padding: (
      _: 0,
      item: 0
    )
  )
);

$dimensions-list: (
  desktop: (
    margin: (
      _: 0,
      item: 0 2.6em 0 0,
      item-link-after: 0 0 0 .3em,
      category-left: -2.7em
    ),
    padding: (
      _: 0
    )
  ),
  mobile: (
    margin: (
      _: 0 0 0 3.2em,
      item: 0 0 .3em 0,
      item-link: 0,
      item-link-after: 0 .3em,
      title: 0 auto 0 0,
      title_hover: 0 auto 0 .4em,
      category-left: -3em
    ),
    padding: (
      _: 0,
      item: 0,
      item-link: 0
    )
  )
);

$dimensions-navbar: (
  desktop: (
    height: (
      _: 100%,
      item: 48px
    ),
    width: (
      _: 48px,
      item: 48px
    )
  )
);

$dimensions-section: (
  desktop: (
    margin: (
      _: 2em auto
    ),
    maxwidth: (
      _: 800px
    ),
    padding: (
      _: 0 124px
    )
  ),
  mobile: (
    margin: (
      _:  2em
    ),
    padding: (
      _: 0
    )
  )
);

$dimensions-text: (
  margin: (
    header: 1em 0 .3em 0,
    subheader: 1.2em 0 .3em 0,
    text: 0 0 1em 0
  )
);

$layers: (
  basement: -1,
  floor: 1,
  ceiling: 20,
  roof: 30
);
