:root {
  --fontstack-header: sans-serif;
  --fontstack-subheader: sans-serif;
  --fontstack-text: sans-serif;
  --fontstack-code: monospace;

  --lineheight-header: 1.2em;
  --lineheight-subheader: 1.3em;
  --lineheight-text: 1.5em;
  --lineheight-subtext: 1.2em;

  --fontsize-desktop-base: .9em;
  --fontsize-mobile-base: calc(.8em + .75vw);
  --fontsize-root: 1rem;

  --fontsize-h1: 3.25rem;
  --fontsize-h2: 2.75rem;
  --fontsize-h3: 2.25rem;
  --fontsize-h4: 1.9rem;
  --fontsize-h5: 1.7rem;
  --fontsize-h6: 1.5rem;
  --fontsize-text: 1.2rem;
  --fontsize-subtext: 1em;

  //  cardboard
  --fontsize-cardboard-glyph: 28px;

  // footer
  --fontsize-footer-glyph: 1.8em;
  --fontsize-footer-message: 1.4em;

  // links
  --fontsize-links-item: 1.3em;
  --fontsize-links-glyph: 1.7em;
}

@media only screen and (min-width: 961px) and (orientation: landscape) {
  :root {
    // cardboard
    --fontsize-cardboard-glyph: 24px;

    // footer
    --fontsize-footer-glyph: 2em;
    --fontsize-footer-message: 1.6em;

    // links
    --fontsize-links-glyph: 1.9em;

    // navbar
    --fontsize-navbar-glyph: 1.6em;
  }
}
