@import '../utilities/unselectable.css';
@import '../variables/dimensions.css';
@import '../variables/fonts.css';
@import '../variables/transitions.css';

.back-to-top {
  display: none;
}

@media (--medium-screen) {
  .back-to-top {
    @apply --unselectable;

    align-items: center;
    bottom: var(--space-between-sections);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: var(--fontsize-h5);
    left: calc(100% + var(--back-to-top-right));
    max-height: 100%;
    opacity: .5;
    overflow: hidden;
    position: absolute;
    text-decoration: none;
    transition:
      var(--transition-bottom),
      var(--transition-max-height);

    &:focus,
    &:hover {
      opacity: 1;
    }

    &&--hidden {
      bottom: 0;
      max-height: 0;
    }
  }

  .back-to-top__icon {
    display: block;
    font-size: var(--fontsize-glyphs-l);
  }

  .back-to-top__text {
    white-space: nowrap;
  }
}
