@import '../variables/colors.css';
@import './list.css';

.breadcrumbs {
  --separator: '>';
  --separator-fontsize: .8em;
  --space-between: 8px;

  overflow: hidden;

  & > .list-item {
    font-size: 14px;
    margin: 0;

    &:last-child {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &:not(:last-child)::after {
      content: var(--separator);
      font-size: var(--separator-fontsize);
      padding: 0 var(--space-between);
      pointer-events: none;
    }
  }
}
