@import '../variables/dimensions.css';

.footer {
  --height: 3em;
  --border-width: 2px;

  background: var(--background-color-footer);
  box-shadow: 0 -2px var(--boxshadow-blur-roof) 0 var(--clr-shadow);
  height: var(--height);
  position: relative;
  width: 100%;
  z-index: var(--layer-roof);

  &::before {
    background: linear-gradient(90deg, var(--mystic-mauvea-start) 0%, var(--mystic-mauvea-end) 100%);
    content: '';
    height: var(--border-width);
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

@media (--medium-screen) {
  .footer {
    height: 4em;
  }
}
@media (--large-screen) {
  .footer {
    align-self: end;
    height: 3em;
  }
}
