@import '../variables/colors.css';
@import '../variables/dimensions.css';
@import '../variables/layers.css';
@import '../variables/shadows.css';

.footer {
  background: var(--background-color-footer);
  box-shadow: var(--boxshadow-roof-);
  height: var(--height-footer);
  position: relative;
  width: 100%;
  z-index: var(--layer-roof);

  &::before {
    background: linear-gradient(90deg, var(--mystic-mauvea-start) 0%, var(--mystic-mauvea-end) 100%);
    content: '';
    height: var(--border-width-footer);
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

@media (--large-screen) {
  .footer {
    align-self: end;
  }
}
