@import '../utilities/text.css';
@import '../utilities/unselectable.css';
@import '../variables/colors.css';
@import '../variables/dimensions.css';
@import '../variables/transitions.css';
@import './icons.css';

.timeline {
  --icon-size: 20px;
  --line-offset: 40px;
  --circle-diameter: 40px;
  --card-width: calc(100% - (2 * var(--line-offset)) - var(--circle-diameter));
  --line-width: 1px;
  --margin-event: .6em 0 .6em calc(var(--line-offset) + (var(--circle-diameter) / 2));
  --padding-event: 1.2em 1.6em;

  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  position: relative;

  .timeline-event {
    background-color: var(--clr-primary-white);
    border-radius: 4px;
    box-shadow: var(--boxshadow-floor);
    color: var(--clr-primary-black);
    display: flex;
    flex-direction: column;
    margin: var(--margin-event);
    padding: var(--padding-event);
    position: relative;
    transition: var(--transition-shadow);
    width: var(--card-width);

    &--achievement {
      &::after {
        content: '\EA01';
      }
    }

    &--education {
      &::after {
        content: '\EA07';
      }
    }

    &--internship {
      &::after {
        content: '\EA0A';
      }
    }

    &--more {
      flex: 0 1 var(--circle-diameter) !important; /* stylelint-disable-line declaration-no-important */

      &::after {
        content: '\EA02';
      }
    }

    &--volunteer {
      &::after {
        content: '\EA10';
      }
    }

    &--work {
      &::after {
        content: '\EA12';
      }
    }

    &:hover {
      box-shadow: var(--boxshadow-roof);
    }

    &:focus-within::after,
    &:hover::after {
      border-color: var(--clr-primary-accent);
      color: var(--clr-primary-accent);
    }

    & > .timeline-event__bullet-link,
    &::after {
      box-sizing: border-box;
      height: var(--circle-diameter);
      left: calc(-1 * (var(--line-offset) + (var(--circle-diameter) / 2)));
      overflow: hidden;
      padding: 3px 4px;
      position: absolute;
      text-align: center;
      top: calc(50% - (var(--circle-diameter) / 2));
      width: var(--circle-diameter);
    }

    & > .timeline-event__bullet-link {
      z-index: 1;
    }

    &::after {
      background-color: #fafafa;
      border: 2px solid var(--clr-primary-black);
      border-radius: var(--circle-diameter);
      color: var(--clr-primary-black);
      font-family: icon-e; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
      font-size: var(--icon-size);
      font-style: normal;
      transition:
        border-color .2s ease,
        color .2s ease;
    }

    &::before {
      background-color: var(--clr-primary-black);
      content: '';
      height: calc(100% + (2 * var(--line-offset)));
      left: calc(-1 * var(--line-offset));
      position: absolute;
      top: 0;
      width: var(--line-width);
    }

    &:first-child {
      &::before {
        top: 50%;
      }
    }

    &:last-child {
      &::before {
        height: 50%;
      }
    }
  }

  .timeline-event__title {
    @apply --text-bold;

    box-sizing: border-box;
    flex: 1 0 0;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-align: left;
  }

  .timeline-event__more {
    align-self: flex-end;
    flex-grow: 0;
  }

  &--horizontal {
    display: none;
  }
}

@media (--medium-screen) {
  .timeline {
    --card-width: 18em;
    --icon-size: 22px;
    --line-offset: 44px;
    --circle-diameter: 44px;
    --margin-event: .8em 0;
    --padding-event: 1.1em;

    .timeline-event::after {
      padding: 7px 4px 5px;
    }

    &--alternate {
      --alternating-offset: calc(var(--card-width) + (2 * var(--line-offset)) + (2 * var(--padding-event)));

      .timeline-event {
        margin-right: calc(var(--alternating-offset) * -1);

        &:nth-child(even) {
          margin-right: calc(var(--alternating-offset) - var(--line-width));

          &::after {
            left: auto;
            right: calc(-1 * (var(--line-offset) + (var(--circle-diameter) / 2)));
          }

          &::before {
            left: auto;
            right: calc(-1 * var(--line-offset) - 1px);
          }
        }
      }
    }

    &--horizontal {
      align-items: flex-start;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      margin: calc(2rem + (2 * var(--line-offset))) 0 3rem;

      .timeline-event {
        --margin-between: 3em;

        flex: 0 1 var(--card-width);
        margin: 0 calc(var(--margin-between) / 2);

        &--more {
          box-shadow: none;
          height: 0;
          margin: 0;
          outline: 0;
          padding: 0;
          width: 0;
        }

        & > .timeline-event__bullet-link,
        &::after {
          left: calc(50% - (var(--circle-diameter) / 2));
          top: calc(-1 * (var(--line-offset) + (var(--circle-diameter) / 2)));
        }

        &::before {
          background-color: var(--clr-primary-black);
          content: '';
          height: var(--line-width);
          left: 0;
          position: absolute;
          top: calc(-1 * var(--line-offset));
          width: calc(100% + var(--margin-between));
        }

        &:first-child {
          &::before {
            left: -1000px;
            top: calc(-1 * var(--line-offset));
            width: calc(100% + var(--margin-between) + 1000px);
          }
        }

        &:last-child {
          &::before {
            height: var(--line-width);
            width: 50%;
          }
        }

        &:nth-child(2),
        &:nth-child(3) {
          display: none;
        }
      }

      /* show 3 elements on medium screens */
      @media only screen and (min-width: 1240px) and (orientation: landscape) {
        .timeline-event {
          &:nth-child(3) {
            display: flex;
          }
        }
      }

      /* show 4 elements on medium screens */
      @media only screen and (min-width: 1440px) and (orientation: landscape) {
        .timeline-event {
          &:nth-child(2) {
            display: flex;
          }
        }
      }
    }
  }
}
@media (--large-screen) {
  .timeline--horizontal {
    justify-content: flex-start;
    max-width: 1000px;

    .timeline-event {
      --margin-between: 3em;

      &:first-child {
        &::before {
          left: -100px;
          width: calc(100% + var(--margin-between) + 150px);
        }
      }
    }

    @media (--large-screen) {
      .timeline-event {
        &:nth-child(2),
        &:nth-child(3) {
          display: none;
        }
      }
    }
    @media only screen and (min-width: 1780px) and (orientation: landscape) {
      .timeline-event {
        &:nth-child(3) {
          display: flex;
        }
      }
    }
  }
}
