{{page "title" "Bands in a Barn website"}}

{{#> layouts/project}}
  {{#*inline "description"}}
    <p>For the first edition of this festival I created the website. It was a one-page website which dynamically loads content including the lineup, schedule, and FAQ. The back-end was build using <a class="text-link" href="https://expressjs.com/" rel="noopener">Express</a> and the front-end was build using <a class="text-link" href="https://vuejs.org/" rel="noopener">Vue</a>. The contact form relied on <a class="text-link" href="https://www.mailgun.com/" rel="noopener">Mailgun</a> to deliver the messages to the festival organisation.</p>

    <figure class="article__figure">
      <img class="article__image" alt="Landing page of the application" src="/assets/images/bands-in-a-barn.jpg">
      <figcaption class="text-secondary">Landing page of the Bands in a Barn website.</figcaption>
    </figure>
  {{/inline}}
{{/layouts/project}}
