{{page "title" "File icons for Atom"}}
{{page "keywords" "icons,open source,atom"}}


{{#> layouts/contribution}}
  {{#*inline "description"}}
  <p>File Icons was one of my first and is one of my favorite packages for <a class="text-link" href="https://atom.io/" rel="noopener">Atom</a>. I submitted a Pull Request to add a custom icon for files with a <code class="code-inline">.bak</code>, <code class="code-inline">.old</code>, and <code class="code-inline">.orig</code> extensions (<a class="text-link" href="https://github.com/file-icons/atom/pull/649" rel="noopener">#649</a>).</p>
  {{/inline}}
{{/layouts/contribution}}
