{{page "title" "htmlarea"}}
{{page "keywords" "javascript"}}

{{#> layouts/project}}
  {{#*inline "description"}}
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mattis consequat tempor. Fusce vel cursus turpis. Mauris et turpis blandit, rutrum odio non, efficitur nibh. Proin euismod, diam eu lacinia elementum, libero nulla lacinia nunc, sed elementum urna metus id libero. Nunc volutpat tincidunt diam, in tempus dolor mollis eget. Curabitur ac mauris vel risus dignissim ultrices. Vivamus efficitur sagittis augue, sed consequat justo dapibus sit amet. Phasellus tincidunt diam nec malesuada eleifend.</p>
  {{/inline}}
{{/layouts/project}}
