{{page "title" "IncaseJS"}}
{{page "keywords" "npm,package,javascript"}}

{{#> layouts/project}}
  {{#*inline "description"}}
  <p>IncaseJS is a small JavaScript package that is designed to quickly assert variable types in JavaScript (both NodeJS and the browser). It is my first <a class="text-link" href="https://www.npmjs.com/" rel="noopener">NPM</a> package. The initial project idea was to make it easy to, on a single line, log or throw an error if an unexpected variable type is encountered. Later version also included functionality to conditionally execute other code based on a variables type.</p>
  {{/inline}}
{{/layouts/project}}
