{{page "title" "Public Money Public Code"}}
{{page "keywords" "software,EU,activism,open source,hugo,html"}}

{{#> layouts/contribution}}
  {{#*inline "description"}}
  <p>After <a class="text-link" href="https://publiccode.eu/openletter/all-signatures/">signing</a> the petition for public code within the EU, I decided I wanted to help the cause by contributing to the website in whatever way possible. As a result I picked up issue <a class="text-link" href="https://git.fsfe.org/pmpc/website/issues/224">#244</a> and implemented a banner to the website of JavaScript is disabled.</p>
  {{/inline}}
{{/layouts/contribution}}
