@import 'mixins/util';
@import 'variables/layers';


.header {
  @include unselectable();

  box-sizing: border-box;
  color: var(--clr-primary-white);
  display: flex;
  flex-direction: column;
  font-size: var(--fontsize-root);
  height: var(--height-header);
  margin: var(--margin-header);
  min-height: var(--minheight-header);
  overflow: visible;
  padding: var(--padding-header);
  position: relative;
  width: var(--width-header);
  z-index: map-get($layers, roof);

  &::before,
  &::after {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: map-get($layers, dungeon);
  }

  &::before {
    box-shadow: 0 var(--shadow-offset) var(--shadow-size) 0 var(--clr-header-shadow);
    height: calc(100% - var(--clippath-slope));
    transform: rotateZ(1.8deg);
    width: 101%;
  }

  &::after {
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-image: url('/assets/background.jpg');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    clip-path: var(--clippath-header);
  }

  &--home {
    height: var(--height-header-home);

    .header__message {
      margin: var(--margin-header-message-home);
    }
  }

  .background-hover {
    &--aqua-spray {
      &::before {
        background: linear-gradient(135deg, var(--aqua-spray-start) 0%, var(--aqua-spray-end) 100%);
        clip-path: var(--clippath-header);
      }
    }

    &--mystic-mauvea {
      &::before {
        background: linear-gradient(135deg, var(--mystic-mauvea-start) 0%, var(--mystic-mauvea-end) 100%);
        clip-path: var(--clippath-header);
      }
    }

    &--sweat-dream {
      &::before {
        background: linear-gradient(135deg, var(--sweat-dream-start) 0%, var(--sweat-dream-end) 100%);
        clip-path: var(--clippath-header);
      }
    }
  }
}

.header__message {
  @extend %h6;

  margin: var(--margin-header-message);
  text-align: center;
}

.header__title {
  display: block;
  margin: var(--margin-header-title);
}

.header__links {
  display: none;
  margin: var(--margin-header-message);
}

.header__links__item {
  @extend %h5;
}

@media only screen and (min-width: 961px) and (orientation: landscape) {
  .header__background {
    height: auto;
    width: 100%;
  }

  .header__links,
  .header__message {
    align-self: flex-end;
    display: block;
    list-style: none;
    max-width: var(--maxwidth-header-message);
    text-align: right;
  }

  .header__links__item {
    display: inline-block;
    margin: 0;
    padding: var(--padding-header-link-item);

    &:not(:last-child) {
      &::after {
        content: '/';
        margin: var(--margin-header-link-item);
      }
    }

    & > a {
      color: var(--clr-secondary-white);
      text-decoration: none;

      &:focus,
      &:hover {
        color: var(--clr-primary-accent);
      }
    }
  }
}
