.timeline {
  display: none;
}

@media only screen and (min-width: 961px) and (orientation: landscape) {
  .timeline {
    align-items: center;
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-image: url('/assets/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    clip-path: polygon(0 0, 100% 3vw, 100% 100%, 0 calc(100% - 3vw));
    display: flex;
    flex-direction: row-reverse;
    height: 500px;
    justify-content: center;
    list-style-type: none;
    margin: 80px 0 0;
    padding: 0 10% 0 15%;
    position: relative;
    z-index: map-get($layers, roof);
  }

  .timeline__event {
    color: var(--clr-primary-white);
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
    height: 20%;
    margin: 0;

    &:first-child {
      .timeline__event__title {
        &::before {
          width: 50%;
        }
      }
    }

    &:last-child {
      .timeline__event__title {
        &::before {
          right: 0;
          width: 500%;
        }
      }
    }

    &:hover {
      color: var(--clr-primary-gray);

      .timeline__event__title {
        &::after {
          background-color: var(--clr-primary-gray);
        }
      }
    }
  }

  .timeline__event__title {
    display: block;
    margin: 0 0 15px;
    padding: 0 0 15px;
    position: relative;

    &::after {
      background-color: var(--clr-primary-white);
      border-radius: 25px;
      bottom: -13px;
      content: '';
      height: 26px;
      left: calc(50% - 13px);
      position: absolute;
      width: 26px;
    }

    &::before {
      background-color: var(--clr-primary-white);
      bottom: 0;
      content: '';
      height: 1px;
      position: absolute;
      width: 100%;
    }
  }
}
