---
---

{% for _project in site.data.portfolio.programming %}
  {% if _project.name == page.title %}
    {% assign project = _project %}
  {% endif %}
{% endfor %}

<!DOCTYPE html>
<html lang="{{ site.lang }}">
  <head>
    {% include metadata.html %}
    <link href="/styles/bundle.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header class="header">
      <h1 class="header__title short-underline short-underline--dark">Portfolio</h1>
      <ul class="header__message header__links">
        <li class="header__links__item">
          <a href="/" rel="noopener" target="_self">home</a>
        </li>
        <li class="header__links__item">
          <a href="/portfolio" rel="noopener" target="_self">portfolio</a>
        </li>
      </ul>
    </header>

    <main class="main">
      <article class="section">
        <ul class="links links--glyphs">
          {% for link in project.links %}
          <li class="links__item">
            <a class="icon icon--hover icon-{{ site.data.metadata[link.m_id].icon }}" aria-label="link to the project's {{ site.data.metadata[link.m_id].name }}" href="{{ link.url }}"></a>
          </li>
          {% endfor %}
        </ul>

        <h2 class="short-underline">{{ project.name }}</h2>

        {% if project.start_year != project.end_year %}
        <p class="article__date">{{ project.start_year }} - {{ project.end_year }}</p>
        {% else %}
        <p class="article__date">{{ project.start_year }}</p>
        {% endif %}

        {% if project.tldr != null %}
        <p class="article__named-line" data-name="tl:dr">{{ project.tldr }}</p>
        {% endif %}

        <ul class="tags">
          {% for tag in project.tags %}
          <li class="tag">{{ tag }}</li>
          {% endfor %}
        </ul>

        <h4 class="short-underline">Description</h4>
        {{ content }}
      </article>

      {% include back-to-top.html %}
    </main>

    {% include footer.html %}
  </body>
</html>
