@import 'variables/colors';


.article__named-line {
  position: relative;

  &::before {
    color: $clr-primary-gray;
    content: attr(data-name);
    font-size: $fontsize-subtext;
    font-style: italic;
    margin: deep-map-get($dimensions-article, mobile, margin, named-line);
    pointer-events: none;
  }
}

.article__figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em 0;
}

.article__image {
  margin: deep-map-get($dimensions-article, mobile, margin, image);
  width: 100%;
}


@media only screen and (min-width: 961px) and (orientation: landscape) {
  .article__named-line {
    &::before {
      margin: 0;
      position: absolute;
      right: calc(100% + #{deep-map-get($dimensions-article, desktop, margin, named-line)});
    }
  }

  .article__figure {
    margin: 1em 2.8em;
  }

  .article__image {
    margin: deep-map-get($dimensions-article, desktop, margin, image);
    max-width: 100%;
    width: auto;
  }
}
