@import 'variables/colors';


.article__about {
  position: relative;

  &::before {
    color: var(--clr-primary-gray);
    content: attr(data-name);
    font-size: var(--fontsize-subtext);
    font-style: italic;
    margin: var(--margin-article-about);
    pointer-events: none;
  }
}

.article__figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: var(--margin-article-figure);
}

.article__image {
  margin: var(--margin-article-img);
  width: var(--width-article-img);
}


@media only screen and (min-width: 961px) and (orientation: landscape) {
  .article__about {
    &::before {
      margin: 0;
      position: absolute;
      right: calc(100% + var(--margin-article-about));
    }
  }

  .article__image {
    max-width: 100%;
  }
}
