@import 'mixins/map';
@import 'variables/colors';
@import 'variables/dimensions';


.cardboard {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: deep-map-get($dimensions-cardboard, mobile, margin, _);
  padding: deep-map-get($dimensions-cardboard, mobile, padding, _);
  width: deep-map-get($dimensions-cardboard, mobile, width, _);
}

.cardboard__item {
  background-color: $clr-secondary-white;
  box-shadow: 0 0 2px 0 $clr-shadow;
  box-sizing: border-box;
  margin: deep-map-get($dimensions-cardboard, mobile, margin, item);
  padding: deep-map-get($dimensions-cardboard, mobile, padding, item);
  position: relative;
  transition: box-shadow .3s ease;
  width: deep-map-get($dimensions-cardboard, mobile, width, item);

  &:focus-within,
  &:hover {
    box-shadow: 0 0 8px 0 $clr-shadow;
  }
}

.cardboard__item__description {
  padding: deep-map-get($dimensions-cardboard, mobile, padding, item-description);
}

.cardboard__item__link {
  display: inline-block;
  font-size: deep-map-get($fontsize-cardboard, mobile, glyphs);
  margin: 0;
  padding: 0;
}

.cardboard__item__links {
  float: right;
  font-size: 0;
  list-style: none;
  padding: deep-map-get($dimensions-cardboard, mobile, padding, item-links);
}

.cardboard__item__more {
  @extend %text-bold;

  bottom: 0;
  margin: deep-map-get($dimensions-cardboard, mobile, padding, item);
  position: absolute;
  right: 0;
  text-decoration: none;
  transition: color .1s ease, right .15s ease;

  &::after {
    color: $clr-secondary-black;
    content: '\2192';
    display: block;
    left: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: left .15s ease, opacity .1s ease;
  }

  &:focus,
  &:hover {
    color: $clr-primary-accent;
    right: 1.4em;

    &::after {
      left: calc(100% + 4px);
      opacity: 1;
    }
  }
}

.cardboard__item__title {
  margin: deep-map-get($dimensions-cardboard, mobile, margin, item-title);
}


@media only screen and (min-width: 961px) and (orientation: landscape) {
  .cardboard {
    margin: deep-map-get($dimensions-cardboard, desktop, margin, _);
    padding: deep-map-get($dimensions-cardboard, desktop, padding, _);
    width: deep-map-get($dimensions-cardboard, mobile, width, _);
  }

  .cardboard__item {
    margin: deep-map-get($dimensions-cardboard, desktop, margin, item);
    padding: deep-map-get($dimensions-cardboard, desktop, padding, item);
    width: deep-map-get($dimensions-cardboard, desktop, width, item);
  }

  .cardboard__item__description {
    padding: deep-map-get($dimensions-cardboard, desktop, padding, item-description);
  }

  .cardboard__item__link {
    font-size: deep-map-get($fontsize-cardboard, desktop, glyphs);
  }

  .cardboard__item__links {
    padding: deep-map-get($dimensions-cardboard, desktop, padding, item-links);
  }

  .cardboard__item__more {
    margin: deep-map-get($dimensions-cardboard, desktop, padding, item);
  }

  .cardboard__item__title {
    margin: deep-map-get($dimensions-cardboard, desktop, margin, item-title);
  }
}
