@import 'mixins/util';
@import 'variables/layers';


.header {
  @include unselectable();

  background-attachment: fixed;
  background-blend-mode: overlay;
  background-image: url('/assets/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  clip-path: var(--clippath-header);
  color: var(--clr-primary-white);
  display: flex;
  flex-direction: column;
  font-size: var(--fontsize-root);
  height: var(--height-header);
  margin: var(--margin-header);
  min-height: var(--minheight-header);
  overflow: hidden;
  padding: var(--padding-header);
  position: relative;
  width: var(--width-header);
  z-index: map-get($layers, roof);

  &--home {
    height: var(--height-header-home);

    .header__message {
      margin: var(--margin-header-message-home);
    }
  }
}

.header__message {
  @extend %h6;

  margin: var(--margin-header-message);
  text-align: center;
}

.header__title {
  display: block;
  margin: var(--margin-header-title);
}

.header__links {
  display: none;
  margin: var(--margin-header-message);
}

.header__links__item {
  @extend %h5;
}

@media only screen and (min-width: 961px) and (orientation: landscape) {
  .header__background {
    height: auto;
    width: 100%;
  }

  .header__links,
  .header__message {
    align-self: flex-end;
    display: block;
    list-style: none;
    max-width: var(--maxwidth-header-message);
    text-align: right;
  }

  .header__links__item {
    display: inline-block;
    margin: var(--margin-header-link-item);
    padding: var(--padding-header-link-item);

    &:not(:last-child) {
      &::after {
        content: '/';
      }
    }

    & > a {
      color: var(--clr-secondary-white);
      text-decoration: none;

      &:focus,
      &:hover {
        color: var(--clr-primary-accent);
      }
    }
  }
}
