@import 'mixins/map';
@import 'variables/colors';
@import 'variables/dimensions';
@import 'variables/fonts';


html,
body {
  background-color: $clr-background;
  border: 0;
  color: $clr-primary-black;
  display: flex;
  flex-direction: column;
  font-size: $fontsize-mobile-base;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  width: 100%;
}

article,
aside,
div,
footer,
header,
main,
nav,
section {
  display: block;
  flex-shrink: 0;
}

p,
li,
ul {
  font-family: $fontstack-text;
  font-size: $fontsize-text;
  line-height: $lineheight-text;
  margin: deep-map-get($dimensions-text, margin, text);
  word-break: keep-all;
}

a,
b,
br,
h1,
h2,
h3,
h4,
h5,
h6,
i,
li,
p,
ul {
  color: inherit;

  &::selection {
    background-color: $clr-primary-accent;
    color: $clr-primary-white;
  }
}

h1,
%h1 {
  font-family: $fontstack-header;
  font-size: $fontsize-h1;
  line-height: $lineheight-header;
  margin: deep-map-get($dimensions-text, margin, header);
}

h2,
%h2 {
  font-family: $fontstack-header;
  font-size: $fontsize-h2;
  line-height: $lineheight-header;
  margin: deep-map-get($dimensions-text, margin, header);
}

h3,
%h3 {
  font-family: $fontstack-header;
  font-size: $fontsize-h3;
  line-height: $lineheight-header;
  margin: deep-map-get($dimensions-text, margin, header);
}

h4,
%h4 {
  font-family: $fontstack-subheader;
  font-size: $fontsize-h4;
  line-height: $lineheight-subheader;
  margin: deep-map-get($dimensions-text, margin, subheader);
}

h5,
%h5 {
  font-family: $fontstack-subheader;
  font-size: $fontsize-h5;
  line-height: $lineheight-subheader;
  margin: deep-map-get($dimensions-text, margin, subheader);
}

h6,
%h6 {
  font-family: $fontstack-subheader;
  font-size: $fontsize-h6;
  line-height: $lineheight-subheader;
  margin: deep-map-get($dimensions-text, margin, subheader);
}


@media only screen and (min-width: 961px) and (orientation: landscape) {
  html,
  body {
    font-size: $fontsize-desktop-base;
    min-width: $minwidth-desktop;
  }
}

.main {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 0;
  position: relative;
}

.section {
  font-size: $fontsize-root;
  margin: deep-map-get($dimensions-section, mobile, margin, _);
  padding: deep-map-get($dimensions-section, mobile, padding, _);
  position: relative;
}


@media only screen and (min-width: 961px) and (orientation: landscape) {
  .section {
    margin: deep-map-get($dimensions-section, desktop, margin, _);
    max-width: deep-map-get($dimensions-section, desktop, maxwidth, _);
    padding: deep-map-get($dimensions-section, desktop, padding, _);
    position: relative;
  }
}
