html,
body {
  background-color: var(--clr-background);
  border: 0;
  color: var(--clr-primary-black);
  display: flex;
  flex-direction: column;
  font-size: var(--fontsize-mobile-base);
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  width: 100%;
}

article,
aside,
div,
footer,
header,
main,
nav,
section {
  display: block;
  flex-shrink: 0;
}

p,
li,
ul {
  font-family: var(--fontstack-text);
  font-size: var(--fontsize-text);
  line-height: var(--lineheight-text);
  margin: var(--margin-text-text);
  word-break: keep-all;
}

a,
b,
br,
h1,
h2,
h3,
h4,
h5,
h6,
i,
li,
p,
ul {
  color: inherit;

  &::selection {
    background-color: var(--clr-primary-accent);
    color: var(--clr-primary-white);
  }
}

h1,
%h1 {
  font-family: var(--fontstack-header);
  font-size: var(--fontsize-h1);
  line-height: var(--lineheight-header);
  margin: var(--margin-text-header);
}

h2,
%h2 {
  font-family: var(--fontstack-header);
  font-size: var(--fontsize-h2);
  line-height: var(--lineheight-header);
  margin: var(--margin-text-header);
}

h3,
%h3 {
  font-family: var(--fontstack-header);
  font-size: var(--fontsize-h3);
  line-height: var(--lineheight-header);
  margin: var(--margin-text-header);
}

h4,
%h4 {
  font-family: var(--fontstack-subheader);
  font-size: var(--fontsize-h4);
  line-height: var(--lineheight-subheader);
  margin: var(--margin-text-subheader);
}

h5,
%h5 {
  font-family: var(--fontstack-subheader);
  font-size: var(--fontsize-h5);
  line-height: var(--lineheight-subheader);
  margin: var(--margin-text-subheader);
}

h6,
%h6 {
  font-family: var(--fontstack-subheader);
  font-size: var(--fontsize-h6);
  line-height: var(--lineheight-subheader);
  margin: var(--margin-text-subheader);
}


@media only screen and (min-width: 961px) and (orientation: landscape) {
  html,
  body {
    font-size: var(--fontsize-desktop-base);
    min-width: var(--minwidth-desktop);
  }
}

.main {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 0;
  position: relative;
}

.section {
  font-size: var(--fontsize-root);
  margin: var(--margin-section);
  max-width: var(--maxwidth-section);
  padding: var(--padding-section);
  position: relative;
}
