@import 'variables/colors';
@import 'variables/fonts';


.code-inline {
  background-color: var(--clr-background-code);
  border-radius: 2px;
  color: var(--clr-primary-black);
  font-family: var(--fontstack-code);
  padding: .05em .2em;
}

.back-to-top {
  display: none;
}

@media only screen and (min-width: 961px) and (orientation: landscape) {
  .back-to-top {
    align-items: center;
    bottom: deep-map-get($dimensions-backtotop, bottom);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: var(--fontsize-h5);
    opacity: .5;
    position: absolute;
    right: deep-map-get($dimensions-backtotop, right);
    text-decoration: none;
    transition: bottom .25s ease;

    &:hover {
      opacity: 1;
    }

    &--hidden {
      bottom: deep-map-get($dimensions-backtotop, bottom_hidden);
    }
  }

  .back-to-top__icon {
    display: block;
    font-size: var(--fontsize-h3);
  }
}
