@import 'mixins/map';
@import 'variables/layers';


.navbar {
  display: none;
}


@media only screen and (min-width: 961px) and (orientation: landscape) {
  .navbar {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    height: var(--height-navbar);
    left: 0;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: var(--width-navbar);
    z-index: map-get($layers, ceiling);
  }

  .navbar__group {
    list-style: none;
    margin: 0;
    padding: 0;

    &--bottom {
      margin-top: auto;
    }
  }

  .navbar__item {
    color: var(--clr-primary-black);
    cursor: pointer;
    font-size: var(--fontsize-navbar-glyph);
    height: var(--height-navbar-item);
    line-height: var(--height-navbar-item);
    margin: 0;
    padding: 0;
    pointer-events: auto;
    text-align: center;
    text-decoration: none;
    transition: background-color .1s ease, color .1s ease;
    vertical-align: middle;
    width: var(--width-navbar-item);

    &:focus,
    &:hover {
      background-color: var(--clr-primary-black);
      color: var(--clr-primary-white);
    }
  }
}
