@import 'mixins/map';
@import 'variables/colors';
@import 'variables/dimensions';


.navbar {
  display: none;
}


@media only screen and (min-width: 961px) and (orientation: landscape) {
  .navbar {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    height: deep-map-get($dimensions-navbar, desktop, height, _);
    left: 0;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: deep-map-get($dimensions-navbar, desktop, width, _);
    z-index: map-get($layers, ceiling);
  }

  .navbar__group {
    list-style: none;
    margin: 0;
    padding: 0;

    &--bottom {
      margin-top: auto;
    }
  }

  .navbar__item {
    color: $clr-primary-black;
    cursor: pointer;
    font-size: deep-map-get($fontsize-navbar, desktop, glyphs);
    height: deep-map-get($dimensions-navbar, desktop, height, item);
    line-height: deep-map-get($dimensions-navbar, desktop, height, item);
    margin: 0;
    padding: 0;
    pointer-events: auto;
    text-align: center;
    text-decoration: none;
    transition: background-color .1s ease, color .1s ease;
    vertical-align: middle;
    width: deep-map-get($dimensions-navbar, desktop, width, item);

    &:focus,
    &:hover {
      background-color: $clr-primary-black;
      color: $clr-primary-white;
    }
  }
}
