{{page "title" "Cyber-Security Internship"}}

{{#> layouts/event}}
  {{#*inline "description"}}
  <p>During my Master studies, I did a summer internship at <a class="text-link" href="https://www.mezu.com" rel="noopener">Mezu</a>, a startup company that offers a mobile payment application, as security intern. As a financial company, security is an important aspect of the business. As such, I carried out a security analysis of their iOS and Android applications as well as a security audit according to <abbr title="Payment Card Industry">PCI</abbr> guidelines.</p>
  {{/inline}}
{{/layouts/event}}
