{{page "title" "Data Analytics Internship"}}

{{#> layouts/event}}
  {{#*inline "description"}}
  <p>During my Bachelor studies, I did an internship at <a class="text-link" href="https://www.optiver.com/eu/en/our-locations/amsterdam" rel="noopener">Optiver</a> as a data analyst/software engineer with a group of 4 students. Optiver is an international trading and market-making company. In this internship, we were tasked with developing an internal data analysis tool to audit logs. The logs were disjoint and produced by various systems used by Optiver.</p>

  <p>For simplicity and quick development, we choose to use utilize vanilla Python 3 for this task. We developed the tool using <a class="text-link" href="https://www.jetbrains.com/pycharm/" rel="noopener">PyCharm</a> and <a class="text-link" href="https://www.atlassian.com/software/jira" rel="noopener">Jira</a> for collaboration, issue tracking, code review, and Continuous Integration. We worked roughly according to the Scrum methodology, employed test-driven development, and used various analysis tools, including but not limited to <a class="text-link" href="https://www.pylint.org/" rel="noopener">Pylint</a> and <a class="text-link" href="https://en.wikipedia.org/wiki/Profiling_(computer_programming)" rel="noopener">profiling</a>.</p>
  {{/inline}}
{{/layouts/event}}
