{{page "title" "Full Stack developer (Junior)"}}

{{#> layouts/event}}
  {{#*inline "description"}}
  <p>During my Bachelor studies, I worked part-time for <a class="text-link" href="https://www.ticketmatic.com/en/" rel="noopener">TicketMatic</a>. For this job, I developed an online portal for clients that want to sell tickets and interact with the TicketMatic <abbr title="Application Programming Interface">API</abbr>. The development of the tool was interactive between me and my supervisor, who also acted as the product owner.</p>

  <p>The online portal was developed using a <a class="text-link" href="https://nodejs.org/en/about/" rel="noopener">NodeJS</a> server and a <a class="text-link" href="https://www.postgresql.org/" rel="noopener">PostgreSQL</a> database hosted on <a class="text-link" href="https://www.heroku.com/about" rel="noopener">Heroku</a>. For the server, we made extensive use of the <a class="text-link" href="https://expressjs.com/" rel="noopener">Express</a> framework for routing, and of <a class="text-link" href="https://ramdajs.com/" rel="noopener">Ramda</a> for writing functional code. On the front-end, we used <a class="text-link" href="https://vuejs.org/" rel="noopener">Vue.js</a> and <a class="text-link" href="https://getbootstrap.com/" rel="noopener">Bootstrap</a>, as well as a little bit of <a class="text-link" href="https://jquery.com/" rel="noopener">jQuery</a>. The communication and issue management was initially managed using <a class="text-link" href="https://www.atlassian.com/software/jira" rel="noopener">Jira</a> &amp; <a class="text-link" href="https://bitbucket.org/product" rel="noopener">BitBucket</a> and later using <a class="text-link" href="https://github.com/about" rel="noopener">GitHub</a>, as well as with <a class="text-link" href="https://slack.com/about" rel="noopener">Slack</a>.</p>
  {{/inline}}
{{/layouts/event}}
