{{page "title" "Honourable Mention BAPC"}}

{{#> layouts/event}}
  {{#*inline "description"}}
  <p>In 2016 I, together with 2 other students from Delft University of Technology, participated in the Benelux Algorithm Programming Contest. This is a context in which participating groups need to solve as many algorithmic challenges as they can in a couple of hours. As a group of first-year students competing against students from all years throughout The Netherlands, Belgium, and Luxembourg we did not make the top 3, but we did get a Honourable Mention.</p>
  {{/inline}}
{{/layouts/event}}
