{{page "title" "Minor Computer Science"}}

{{#> layouts/event}}
  {{#*inline "description"}}
  <p>During my Bachelor programme at <abbr title="University of Technology">TU</abbr> Delft, I did a minor at the Royal Institute of Technology (<abbr title="Kungliga Tekniska Högskolan">KTH</abbr>) in Stockholm, Sweden. During my time here I followed various courses in Computer Science that I didn't do in Delft, namely:</p>

  <ul>
    <li><i>Artificial Intelligence</i>: An introductory course to the field of artificial intelligence, covering its history and some basic concepts such as the Minimax algorithm (with alpha-beta pruning) and Hidden Markov Models.</li>
    <li><i>Privacy-Enhancing Technologies</i>: A seminar in which groups of student research one privacy-enhancing technology in-depth, and shared their findings with the rest of the class. Some of the topics that were covered include Homomorphic Encryption and Transparency Enhancing Technologies.</li>
    <li><i>Evaluation Methods in Human-Computer Interaction</i>: A course that presents techniques to perform a human-computer interaction evaluation. Also, we performed such an evaluation on a real-world website in groups of three students.</li>
    <li><i>Multimodal Interaction and Interfaces</i>: A course in which alternative interaction methods are presented, such as haptic and speech-based interactions. Also, there was a project where groups of students had to create their multimodal interaction. We created a small interactive <abbr title="Augmented Reality">AR</abbr> game in which objects in the real world became animals in a virtual zoo.</li>
  </ul>

  <p>I also learned some basic Swedish (<i>Swedish A1 for engineers</i>) to be able to have simple interactions with Swedish people. Besides learning, I discovered Stockholm and it's surrounding nature, spending many days hiking.</p>
  {{/inline}}
{{/layouts/event}}
