{{page "title" "Slush Volunteer"}}

{{#> layouts/event}}
  {{#*inline "description"}}
  <p><a class="text-link" href="https://www.slush.org/" rel="noopener">Slush</a> is a yearly event that brings together tech entrepreneurs and investors. The event started in Helsinki, Finland but has since grown and now happens across the globe. Still, the event is run mostly by volunteers, and in 2018 I was one of them! I was in a subteam of 5 volunteers which was part of a larger team of about 100 volunteers that managed the so-called <em>meeting area</em>. The <em>meeting area</em> is a location at the event where people, mostly entrepreneurs and investors, can schedule a relatively quiet and private conversation.</p>

  <p>As a volunteer in this area, we made sure that people arrived at the location of their scheduled meeting at the right time. Also, as a volunteer in the <em>meeting area</em>, you handle disputes and answer any questions regarding the area. As a volunteer for 2 days in the <em>meeting area</em>, I interacted with a lot of people &mdash; volunteers, entrepreneurs, and investors &mdash; and learned a lot.</p>
  {{/inline}}
{{/layouts/event}}
